In [1]:
import numpy as np
import pandas as pd
import os
from tqdm import tqdm

In [2]:
path = os.getcwd() + "/atribuna/milarquivos"
content_file_array = []
classifier_array = []

In [3]:
def read_text(path, file_Name):
    with open(path, encoding="latin-1") as file:
        content_file = file.read()
        Build_DataFrame(content_file, file_Name)

In [4]:
def Build_DataFrame(content_file, file_Name):
    classifier =  GetClassifier(file_Name) 
    if(len(classifier) >= 3):        
        classifier_array.append(classifier)
        content_file_array.append(content_file)

In [5]:
def GetClassifier(file_Name):
    name_split =  file_Name.split(".")
    first_name = name_split[0];
    return first_name[(len(first_name) - 3) : len(first_name)]

In [6]:
for file_Name in tqdm(os.listdir(path), desc="Carregar arquivos"):    
    if file_Name.endswith(".txt"):
        file_path = f"{path}\{file_Name}"
      
        # call read text file function
        read_text(file_path, file_Name)

Carregar arquivos: 100%|████████████████████████████████████████████████████████████| 299/299 [00:01<00:00, 285.75it/s]

In [7]:
textDataDrame =  pd.DataFrame({"Text":content_file_array, "Class":classifier_array})

In [8]:
textDataDrame.head(10)

                                                Text Class
0  Nasce um novo amiguinho virtual\n<b> Coelhinho...   inf
1  Brigas na saída de boates\n<b> A denúncia é de...   poc
2  Queijo fica perto do livro dos recordes\n<b> O...   poc
3  Queijo fica perto do livro dos recordes\n<b> O...   reg
4  PLENÁRIO\n<b>  </b><br>\n <br>\nBolo social do...   pot
5  Quadrilha assalta lanchonete\n<b> Cinco bandid...   poc
6  CARTAS\n<b>  </b><br>\n <br>\nParabéns\nÀ Rede...   opi
7  Mineiro é baleado em assalto \n<b> O gerente c...   poc
8  CARTAS\n<b>  </b><br>\n <br>\nParabéns\nVenho ...   opi
9  Aluno é morto com um soco\n<b> Adolescente de ...   poc

# StopWords removing

In [9]:
#!conda install unidecode

import nltk
import unidecode
from bs4 import BeautifulSoup

# nltk.download()
#- averaged_perceptron_tagger
# - floresta
# - mac_morpho
# - machado
# - punkt
# - stopwords
# - wordnet
# - words

from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [10]:
def addStopWordsToList(texto):
    example_sent = texto
    word_tokens = word_tokenize(example_sent)

    filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]

    filtered_sentence = ""

    for w in word_tokens:
        if w not in stop_words:
            filtered_sentence += w + " "
    return filtered_sentence.strip()

In [11]:
stop_words = set(stopwords.words('portuguese'))
def returnDataFrameStopWords(dataFrame):
    dataReturn = pd.DataFrame()
    for row in tqdm(dataFrame.itertuples(index=True, name='Pandas'), desc="Limpeza de texto"):
        Text = row.Text
        Class = row.Class

        Text = BeautifulSoup(Text, "lxml").text
        Text = unidecode.unidecode(Text)
        Text = addStopWordsToList(Text)
        Text = Text.replace(" . "," ")
        Text = Text.replace(" , "," ")
        Text = Text.replace(" - "," ")
        Text = Text.replace(" : "," ")
        Text = Text.lower()

        linha = pd.Series([Text, Class])
        linha = pd.DataFrame([linha])
        dataReturn = pd.concat([linha, dataReturn], ignore_index=True)

    return dataReturn

In [12]:
df_text_clean = returnDataFrameStopWords(textDataDrame)

Limpeza de texto: 297it [00:01, 238.26it/s]

## Fatores de Ponderação

In [13]:
df_text_clean = df_text_clean.rename(columns = {0: 'Text', 1: 'Class'}, inplace = False)
df_text_clean.head()

                                                Text Class
0  concursos vagas nivel superior o salario passa...   eco
1  o caminho diminuir criminalidade ... so existe...   opi
2  estagiario rouba bolsas policiais um adolescen...   poc
3  planeta pop robin williams adota filho super-h...   at2
4  concursos vagas nivel superior o salario passa...   eco

In [14]:
from sklearn.feature_extraction.text import TfidfTransformer # tf-idf
from sklearn.feature_extraction.text import CountVectorizer # tf

In [15]:
classes = []
for row in df_text_clean.itertuples(index=True, name='Pandas'):  
    if row.Class not in classes:
        classes.append(row.Class)
classes

['eco',
 'opi',
 'poc',
 'at2',
 'int',
 'ept',
 'bro',
 'reg',
 'pot',
 'inf',
 'cid',
 'cit',
 'sro']

In [16]:
 classes =  ["at2","sro","inf","imo","ept","esp","fam","tvt","cid","mul","pot","tav","mic","opi","poc","reg","eco","bro","cit","con","int"]

## TF

In [17]:
vectorizer = CountVectorizer()
TF = vectorizer.fit_transform(df_text_clean.Text)
features_names =  vectorizer.get_feature_names()

## TF-IDF

In [18]:
from sklearn.pipeline import Pipeline

In [19]:
pipe = Pipeline([('count', CountVectorizer(vocabulary=features_names)),
                 ('tfid', TfidfTransformer())]).fit(df_text_clean.Text)

In [20]:
lista_palavras = []
for row in tqdm(df_text_clean.itertuples(index=True, name='Pandas')):
    palavras = row.Text.split(" ")
    for palavra in palavras:
        if(not len(palavra) <= 2):
            if(palavra not in lista_palavras):
                lista_palavras.append(palavra)

297it [00:01, 167.99it/s]

# frequencia da palavra por documento

In [21]:
df_relacao_doc = pd.DataFrame()
df_relacao_doc['Index'] = lista_palavras

for i in tqdm(df_text_clean.index):
    doc = df_text_clean.iloc[i].Text
    
    lista_quant =[]
    
    for termo in lista_palavras:
        quant = doc.split(" ").count(termo)
        lista_quant.append(quant)
        
    df_relacao_doc[f'{i}'] = lista_quant
    
    
df_relacao_doc = df_relacao_doc.set_index('Index')
df_relacao_doc.head()

100%|████████████████████████████████████████████████████████████████████████████████| 297/297 [00:36<00:00,  8.03it/s]

,0,1,2,3,4,5,6,7,8,9,...,287,288,289,290,291,292,293,294,295,296
Index,,,,,,,,,,,,,,,,,,,,,
concursos,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
vagas,3,0,0,0,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
nivel,5,1,0,0,5,0,0,0,0,0,...,0,2,0,0,0,0,0,0,0,0
superior,5,0,0,0,5,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
salario,2,0,0,0,2,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0

# frequencia palavra por classe

In [24]:
dic_doc_class = {}

for classe in tqdm(classes):
    lista_doc = []
    for row in df_text_clean.itertuples(index=True, name='Pandas'):  
        if (str(classe) == row.Class):
            lista_doc.append(row.Text)
    dic_doc_class[f'{classe}'] = lista_doc

100%|████████████████████████████████████████████████████████████████████████████████| 21/21 [00:00<00:00, 1529.44it/s]

In [25]:
df_relacao_class = pd.DataFrame()
df_relacao_class['Index'] = lista_palavras
for key in tqdm(dic_doc_class):
    lista_docs =  dic_doc_class[key]
    docs = ""
    for doc in lista_docs:
        docs += f' {doc}'
        
    doc = docs
    
    lista_quant =[]
    
    for termo in lista_palavras:
        quant = doc.split(" ").count(termo)
        lista_quant.append(quant)
        
    df_relacao_class[f'{key}'] = lista_quant
    
    
df_relacao_class = df_relacao_class.set_index('Index')

100%|██████████████████████████████████████████████████████████████████████████████████| 21/21 [00:36<00:00,  1.76s/it]

In [54]:
df_relacao_class.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
concursos,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,7,1,0,0,0
vagas,0,0,0,0,0,0,0,0,2,0,...,0,0,0,5,3,26,0,0,0,0
nivel,0,0,0,0,1,0,0,0,1,0,...,0,0,3,0,0,36,0,0,0,2
superior,0,1,0,0,2,0,0,0,1,0,...,0,0,0,4,0,42,0,0,0,1
salario,0,0,0,0,1,0,0,0,0,0,...,0,0,2,1,0,18,0,0,0,0

# ni - o numero  de documentos em que um determinado termo ki aparece

In [85]:
dic_ni = {}

for termo in tqdm(lista_palavras):
    quant = 0 
    for row in df_text_clean.itertuples(index=True, name='Pandas'):
        doc = row.Text
        if(termo in doc):
            quant += 1
    dic_ni[f'{termo}'] = quant

100%|███████████████████████████████████████████████████████████████████████████| 12569/12569 [00:13<00:00, 944.33it/s]

In [101]:
for i in sorted(dic_ni, key = dic_ni.get, reverse=True):
    print(f'key=>{i}, maior=>{maior}')
    break

key=>data, maior=>297

# a - quantidade de documentos que pertence a uma classe e posuem o termo ki

#  c - o numero  de documentos que pertencem a Cp, mas não possuem o termo ki

In [74]:
df_a = pd.DataFrame()
df_a['Index'] = lista_palavras

df_c = pd.DataFrame()
df_c['Index'] = lista_palavras

for key in tqdm(dic_doc_class):
    lista_docs =  dic_doc_class[key]
    lista_quant_a =[]
    lista_quant_c =[]

    for termo in lista_palavras:
        quant_a = 0
        quant_c = 0
        
        for doc in lista_docs:
            if(termo in doc):
                quant_a += 1
            else:
                quant_c += 1
                
        lista_quant_a.append(quant_a)
        lista_quant_c.append(quant_c)
        
    df_a[f'{key}'] = lista_quant_a
    df_c[f'{key}'] = lista_quant_c
    
    
df_a = df_a.set_index('Index')
df_c = df_c.set_index('Index')

100%|██████████████████████████████████████████████████████████████████████████████████| 21/21 [00:04<00:00,  4.57it/s]

# df_a

In [75]:
df_a.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
concursos,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,7,1,0,0,0
vagas,0,0,0,0,0,0,0,0,2,0,...,0,0,0,2,2,11,0,0,0,0
nivel,0,0,0,0,1,0,0,0,1,0,...,0,0,2,1,0,8,0,0,0,2
superior,0,1,0,0,2,0,0,0,1,0,...,0,0,0,2,0,9,0,0,0,1
salario,0,0,0,0,1,0,0,0,0,0,...,0,0,2,1,1,10,0,0,0,0

# df_c

In [76]:
df_c.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
concursos,20,1,6,0,48,0,0,0,10,0,...,0,0,13,70,13,30,15,7,0,34
vagas,20,1,6,0,48,0,0,0,8,0,...,0,0,13,68,11,26,16,7,0,34
nivel,20,1,6,0,47,0,0,0,9,0,...,0,0,11,69,13,29,16,7,0,32
superior,20,0,6,0,46,0,0,0,9,0,...,0,0,13,68,13,28,16,7,0,33
salario,20,1,6,0,47,0,0,0,10,0,...,0,0,11,69,12,27,16,7,0,34

# b - a quantidade de documentos que possuem o termo ki, mas não pertence a Cp

In [77]:
df_b = pd.DataFrame()
df_b['Index'] = lista_palavras

df_d = pd.DataFrame()
df_d['Index'] = lista_palavras

for key in tqdm(dic_doc_class):
    lista_quant_b =[]
    lista_quant_d =[]
    
    for termo in lista_palavras:
        quant_b = 0
        quant_d = 0
        for classe in classes:
            if(classe != key):
                lista_docs =  dic_doc_class[classe]
                
                for doc in lista_docs:
                    if(termo in doc):
                        quant_b += 1
                    else:
                        quant_d += 1
                        
        lista_quant_b.append(quant_b)
        lista_quant_d.append(quant_d)
        
    df_b[f'{key}'] = lista_quant_b
    df_d[f'{key}'] = lista_quant_d
    
df_b = df_b.set_index('Index')
df_d = df_d.set_index('Index')

100%|██████████████████████████████████████████████████████████████████████████████████| 21/21 [01:27<00:00,  4.18s/it]

# df_b

In [78]:
df_b.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
concursos,9,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,2,8,9,9,9
vagas,17,17,17,17,17,17,17,17,15,17,...,17,17,17,15,15,6,17,17,17,17
nivel,15,15,15,15,14,15,15,15,14,15,...,15,15,13,14,15,7,15,15,15,13
superior,17,16,17,17,15,17,17,17,16,17,...,17,17,17,15,17,8,17,17,17,16
salario,20,20,20,20,19,20,20,20,20,20,...,20,20,18,19,19,10,20,20,20,20

# df_d

In [79]:
df_d.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
concursos,268,287,282,288,240,288,288,288,278,288,...,288,288,275,218,275,258,273,281,288,254
vagas,260,279,274,280,232,280,280,280,272,280,...,280,280,267,212,269,254,264,273,280,246
nivel,262,281,276,282,235,282,282,282,273,282,...,282,282,271,213,269,253,266,275,282,250
superior,260,280,274,280,234,280,280,280,271,280,...,280,280,267,212,267,252,264,273,280,247
salario,257,276,271,277,230,277,277,277,267,277,...,277,277,266,208,265,250,261,270,277,243

## ICF

In [28]:
import math

In [29]:
def get_row_class(row, classe):
    dic_classe = {
        'at2':row.at2,
        'sro':row.sro,
        'inf':row.inf,
        'imo':row.imo,
        'ept':row.ept,
        'esp':row.esp,
        'fam':row.fam,
        'tvt':row.tvt,
        'cid':row.cid,
        'mul':row.mul,
        'pot':row.pot,
        'tav':row.tav,
        'mic':row.mic,
        'opi':row.opi,
        'poc':row.poc,
        'reg':row.reg,
        'eco':row.eco,
        'bro':row.bro,
        'cit':row.cit,
        'con':row.con,
        'int':row.int
    }
    return dic_classe[f'{classe}']

In [30]:
# conta quantas classes o termo ki aparece
def num_ki_em_categoria():

    dic_num_ki_em_categoria ={}
    for row in tqdm(df_relacao_class.itertuples(index=True, name='Pandas')):
        ci = 0
        for classe in classes:
            if get_row_class(row,classe)!= 0:
                ci += 1
        dic_num_ki_em_categoria[f'{row.Index}'] = ci
        
    return dic_num_ki_em_categoria

# Bag of Word

In [102]:
bag_of_word = {}
bag_of_word['a'] = df_a
bag_of_word['b'] = df_b
bag_of_word['c'] = df_c
bag_of_word['d'] = df_d
bag_of_word['freq_pal_class'] = df_relacao_class
bag_of_word['freq_pal_doc'] = df_relacao_doc
bag_of_word['ci'] = num_ki_em_categoria()
bag_of_word['ni'] = dic_ni

12569it [00:00, 37042.10it/s]

In [31]:
def calculeteICF():
    dic_num_ki_em_categoria = bag_of_word['ci']
    icfs = {}
    C = len(classes)
    for key in dic_num_ki_em_categoria:
        Ci = dic_num_ki_em_categoria[key]
        valor = math.log((1 + (C/Ci)))
        icfs[f'{key}'] = valor
    return icfs

In [32]:
icfs = calculeteICF() 
icfs

12569it [00:00, 38895.55it/s]

{'concursos': 2.0794415416798357,
 'vagas': 1.8325814637483102,
 'nivel': 1.6486586255873816,
 'superior': 1.3862943611198906,
 'salario': 1.6486586255873816,
 'passar': 1.2878542883066382,
 'concurso': 1.6486586255873816,
 'ministerio': 1.5040773967762742,
 'relacoes': 2.0794415416798357,
 'exteriores': 2.0794415416798357,
 '2,63': 3.091042453358316,
 'mil': 1.1314021114911006,
 'segundo': 1.2878542883066382,
 'edital': 3.091042453358316,
 'candidatos': 1.8325814637483102,
 'qualquer': 1.2039728043259361,
 'area': 1.2878542883066382,
 'formacao': 1.8325814637483102,
 'busca': 1.6486586255873816,
 'vaga': 1.6486586255873816,
 'servico': 1.1314021114911006,
 'publico': 1.2039728043259361,
 'federal': 1.3862943611198906,
 'podem': 1.2878542883066382,
 'inscrever': 3.091042453358316,
 'partir': 1.067840630001356,
 'hoje': 1.067840630001356,
 'selecao': 1.5040773967762742,
 'visa': 3.091042453358316,
 'preenchimento': 2.4423470353692043,
 'oficial': 1.5040773967762742,
 'chancelaria': 3.091042453358316,
 'quais': 1.5040773967762742,
 'quatro': 1.2039728043259361,
 'destinadas': 3.091042453358316,
 'portadores': 3.091042453358316,
 'deficiencia': 2.4423470353692043,
 'remuneracao': 3.091042453358316,
 'oferecida': 2.4423470353692043,
 '2.633': 3.091042453358316,
 'interessados': 1.6486586255873816,
 'via': 1.5040773967762742,
 'internet': 1.5040773967762742,
 'endereco': 1.8325814637483102,
 'www.cespe.unb.br/concursos/mre2006': 3.091042453358316,
 'horas': 1.067840630001356,
 '23h59': 3.091042453358316,
 'proximo': 1.067840630001356,
 'dia': 1.0116009116784799,
 'para': 1.1314021114911006,
 'efetuar': 3.091042453358316,
 'inscricao': 2.4423470353692043,
 'necessario': 1.8325814637483102,
 'numero': 1.2878542883066382,
 'cpf': 3.091042453358316,
 'candidato': 1.8325814637483102,
 'valor': 1.2878542883066382,
 'taxa': 1.6486586255873816,
 '65,00': 3.091042453358316,
 'pagamento': 1.8325814637483102,
 'deve': 1.2039728043259361,
 'ser': 1.0116009116784799,
 'feito': 1.2039728043259361,
 'meio': 1.2039728043259361,
 'debito': 3.091042453358316,
 'conta': 1.3862943611198906,
 'corrente': 2.4423470353692043,
 'apenas': 1.1314021114911006,
 'correntistas': 3.091042453358316,
 'banco': 1.6486586255873816,
 'brasil': 1.0116009116784799,
 'documento': 1.5040773967762742,
 'arrecadacao': 3.091042453358316,
 'pagavel': 3.091042453358316,
 'loterica': 3.091042453358316,
 'boleto': 2.4423470353692043,
 'bancario': 2.4423470353692043,
 'toda': 1.2039728043259361,
 'rede': 1.1314021114911006,
 'bancaria': 2.0794415416798357,
 'estarao': 2.0794415416798357,
 'disponiveis': 2.0794415416798357,
 'inscricoes': 1.6486586255873816,
 'deverao': 1.8325814637483102,
 'impressos': 3.091042453358316,
 'apos': 1.067840630001356,
 'conclusao': 2.0794415416798357,
 'ficha': 2.0794415416798357,
 'solicitacao': 1.8325814637483102,
 'cargo': 1.5040773967762742,
 'sera': 1.0116009116784799,
 'realizada': 1.5040773967762742,
 'exame': 1.8325814637483102,
 'habilidades': 2.4423470353692043,
 'conhecimentos': 3.091042453358316,
 'mediante': 2.4423470353692043,
 'provas': 1.8325814637483102,
 'objetivas': 3.091042453358316,
 'redacao': 3.091042453358316,
 'carater': 2.0794415416798357,
 'eliminatorio': 3.091042453358316,
 'classificatorio': 3.091042453358316,
 'testes': 2.0794415416798357,
 'serao': 1.2878542883066382,
 'aplicados': 3.091042453358316,
 'distrito': 1.8325814637483102,
 'fique': 2.4423470353692043,
 'dentro': 1.2878542883066382,
 'periodo': 1.5040773967762742,
 'somente': 1.6486586255873816,
 'aceitas': 3.091042453358316,
 'solicitadas': 3.091042453358316,
 'deste': 1.1314021114911006,
 'mes': 1.067840630001356,
 'eletronico': 2.0794415416798357,
 'teste': 2.0794415416798357,
 'questoes': 1.5040773967762742,
 'raciocinio': 2.4423470353692043,
 'logico': 2.4423470353692043,
 'niveis': 2.0794415416798357,
 'medio': 1.5040773967762742,
 'cada': 1.2039728043259361,
 'litro': 2.4423470353692043,
 'certo': 2.0794415416798357,
 'produto': 1.6486586255873816,
 '0,5kg': 3.091042453358316,
 'substancia': 3.091042453358316,
 'entao': 1.1314021114911006,
 '30m3': 3.091042453358316,
 'desse': 1.8325814637483102,
 'quantidade': 1.8325814637483102,
 'existente': 2.4423470353692043,
 'dessa': 1.5040773967762742,
 'toneladas': 3.091042453358316,
 '0,015': 3.091042453358316,
 '0,15': 3.091042453358316,
 '1,5': 2.4423470353692043,
 '150': 1.6486586255873816,
 'loja': 1.8325814637483102,
 'metro': 2.4423470353692043,
 'determinado': 1.6486586255873816,
 'tecido': 2.4423470353692043,
 'preco': 1.6486586255873816,
 'reduzido': 3.091042453358316,
 '5,52': 3.091042453358316,
 '4,60': 3.091042453358316,
 'com': 1.1314021114911006,
 '126,96': 3.091042453358316,
 'percentagem': 3.091042453358316,
 'pode': 1.1314021114911006,
 'comprar': 2.4423470353692043,
 '19,5': 3.091042453358316,
 '20,5': 3.091042453358316,
 '21,5': 3.091042453358316,
 'terreno': 1.5040773967762742,
 'retangular': 3.091042453358316,
 'lados': 1.8325814637483102,
 '40m': 3.091042453358316,
 '60m': 3.091042453358316,
 'nesse': 1.2878542883066382,
 'vai': 1.0116009116784799,
 'construida': 2.4423470353692043,
 'casa': 1.2039728043259361,
 'terrea': 3.091042453358316,
 'total': 1.5040773967762742,
 '240m2': 3.091042453358316,
 'construcao': 1.6486586255873816,
 'livre': 1.6486586255873816,
 'respostas': 2.4423470353692043,
 'resolucao': 1.8325814637483102,
 'primeiramente': 3.091042453358316,
 'devemos': 2.0794415416798357,
 'transformar': 2.0794415416798357,
 'litros': 2.0794415416798357,
 'lembrando': 3.091042453358316,
 '1m3': 3.091042453358316,
 'corresponde': 3.091042453358316,
 '1.000': 3.091042453358316,
 '30.000': 3.091042453358316,
 '15.000kg': 3.091042453358316,
 'tonelada': 3.091042453358316,
 '1.000kg': 3.091042453358316,
 'resposta': 1.2878542883066382,
 'letra': 2.0794415416798357,
 'pode-se': 2.0794415416798357,
 'metros': 1.3862943611198906,
 'pois': 1.5040773967762742,
 'dividido': 2.4423470353692043,
 'mesmos': 1.8325814637483102,
 'podemos': 1.6486586255873816,
 '27,6': 3.091042453358316,
 'aumento': 1.6486586255873816,
 '1,2': 2.0794415416798357,
 'correspondendo': 3.091042453358316,
 'original': 2.4423470353692043,
 'aumentou': 2.4423470353692043,
 '0,2': 3.091042453358316,
 '2.400m2': 3.091042453358316,
 'ocupa': 2.0794415416798357,
 '0,1': 3.091042453358316,
 'sobrou': 3.091042453358316,
 'fonte': 1.5040773967762742,
 'gabaritos': 3.091042453358316,
 'comentados': 3.091042453358316,
 'esaf': 3.091042453358316,
 'cespe/unb': 3.091042453358316,
 'rui': 3.091042453358316,
 'santos': 1.3862943611198906,
 'paes': 3.091042453358316,
 'ufes': 2.0794415416798357,
 'recebe': 1.5040773967762742,
 'professores': 1.8325814637483102,
 'universidade': 1.5040773967762742,
 'estado': 1.2878542883066382,
 'recebendo': 2.4423470353692043,
 'professor': 1.6486586255873816,
 'adjunto': 3.091042453358316,
 'atuacao': 2.0794415416798357,
 'centro': 1.2039728043259361,
 'universitario': 2.0794415416798357,
 'norte': 1.5040773967762742,
 'espirito': 1.2039728043259361,
 'santo': 1.2039728043259361,
 'departamento': 1.5040773967762742,
 'engenharia': 2.0794415416798357,
 'ciencias': 2.4423470353692043,
 'exatas': 3.091042453358316,
 'fisica': 1.5040773967762742,
 'acontecem': 1.8325814637483102,
 'ate': 1.1314021114911006,
 'maio': 1.3862943611198906,
 'secretaria': 1.3862943611198906,
 'pro-reitoria': 3.091042453358316,
 'administracao': 1.6486586255873816,
 'segunda': 1.6486586255873816,
 'sexta-feira': 1.5040773967762742,
 '5.100,29': 3.091042453358316,
 'ipajm': 3.091042453358316,
 'fara': 1.8325814637483102,
 'prova': 1.5040773967762742,
 'instituto': 1.5040773967762742,
 'previdencia': 2.4423470353692043,
 'jeronimo': 2.4423470353692043,
 'monteiro': 1.8325814637483102,
 'cujas': 3.091042453358316,
 'estao': 1.067840630001356,
 'abertas': 2.4423470353692043,
 'aplicadas': 3.091042453358316,
 'vitoria': 1.067840630001356,
 'ainda': 1.0116009116784799,
 'nao': 0.9614111671546247,
 'iniciaram': 3.091042453358316,
 'estudos': 2.4423470353692043,
 'comecar': 1.8325814637483102,
 'preparar': 1.8325814637483102,
 'tendo': 1.8325814637483102,
 'base': 1.3862943611198906,
 'programa': 1.1314021114911006,
 'divulgado': 1.8325814637483102,
 'todos': 1.2039728043259361,
 'cargos': 2.4423470353692043,
 'exigidos': 2.4423470353692043,
 'lingua': 3.091042453358316,
 'portuguesa': 2.4423470353692043,
 'nocoes': 3.091042453358316,
 'informatica': 1.8325814637483102,
 'atualidades': 3.091042453358316,
 'alem': 0.9614111671546247,
 'disso': 1.6486586255873816,
 'cobrados': 2.0794415416798357,
 'especificos': 3.091042453358316,
 'variam': 2.4423470353692043,
 'acordo': 1.1314021114911006,
 'escolhido': 3.091042453358316,
 'exames': 1.6486586255873816,
 'manha': 1.2878542883066382,
 'funcao': 1.6486586255873816,
 'tarde': 1.2039728043259361,
 'quem': 1.3862943611198906,
 'optar': 3.091042453358316,
 'advogado': 2.0794415416798357,
 'tambem': 1.0116009116784799,
 'submetido': 2.0794415416798357,
 'discursiva': 3.091042453358316,
 'mesma': 1.2878542883066382,
 'data': 0.9614111671546247,
 'locais': 1.6486586255873816,
 'horarios': 2.0794415416798357,
 'realizacao': 2.0794415416798357,
 'devem': 1.5040773967762742,
 'divulgados': 2.0794415416798357,
 'vem': 1.2039728043259361,
 'feitas': 1.3862943611198906,
 'agencias': 3.091042453358316,
 'credenciadas': 3.091042453358316,
 'caixa': 2.0794415416798357,
 'www.cespe.unb.br/concursos/ipajm2006': 3.091042453358316,
 'taxas': 2.4423470353692043,
 '30,00': 3.091042453358316,
 '70,00': 2.0794415416798357,
 'destinada': 2.4423470353692043,
 'provimento': 3.091042453358316,
 'distribuidas': 3.091042453358316,
 'sete': 1.3862943611198906,
 'salarios': 1.8325814637483102,
 'vao': 1.2039728043259361,
 '855,00': 3.091042453358316,
 '2,8': 3.091042453358316,
 'oportunidades': 2.4423470353692043,
 'sao': 1.0116009116784799,
 'assistente': 2.0794415416798357,
 'social': 1.2878542883066382,
 'duas': 1.2039728043259361,
 'contador': 3.091042453358316,
 'medico': 1.6486586255873816,
 'perito': 2.4423470353692043,
 'seis': 1.1314021114911006,
 'psicologo': 3.091042453358316,
 'tecnico': 1.5040773967762742,
 'cinco': 1.3862943611198906,
 'nove': 1.5040773967762742,
 'basicos': 2.4423470353692043,
 'compreensao': 2.4423470353692043,
 'interpretacao': 2.4423470353692043,
 'textos': 2.4423470353692043,
 'tipologia': 3.091042453358316,
 'textual': 3.091042453358316,
 'ortografia': 3.091042453358316,
 'acentuacao': 3.091042453358316,
 'grafica': 3.091042453358316,
 'emprego': 1.8325814637483102,
 'classes': 2.4423470353692043,
 'palavras': 1.8325814637483102,
 'sinal': 2.0794415416798357,
 'indicativo': 3.091042453358316,
 'crase': 3.091042453358316,
 'sintaxe': 3.091042453358316,
 'oracao': 3.091042453358316,
 'pontuacao': 2.4423470353692043,
 'concordancia': 3.091042453358316,
 'nominal': 3.091042453358316,
 'verbal': 3.091042453358316,
 'regencia': 2.4423470353692043,
 'significacao': 3.091042453358316,
 'correspondencias': 2.4423470353692043,
 'oficiais': 2.4423470353692043,
 'sistema': 1.2878542883066382,
 'operacional': 2.0794415416798357,
 'windows': 3.091042453358316,
 'ambiente': 1.6486586255873816,
 'microsoft': 2.4423470353692043,
 'office': 3.091042453358316,
 'word': 3.091042453358316,
 'excel': 3.091042453358316,
 'powerpoint': 3.091042453358316,
 'conceitos': 3.091042453358316,
 'relacionados': 2.4423470353692043,
 'navegadores': 3.091042453358316,
 'correio': 3.091042453358316,
 'dominio': 2.4423470353692043,
 'topicos': 3.091042453358316,
 'atuais': 2.4423470353692043,
 'relevantes': 3.091042453358316,
 'diversas': 1.8325814637483102,
 'areas': 1.6486586255873816,
 'politica': 1.6486586255873816,
 'economia': 1.6486586255873816,
 'sociedade': 1.5040773967762742,
 'educacao': 1.3862943611198906,
 'tecnologia': 1.6486586255873816,
 'energia': 1.6486586255873816,
 'internacionais': 1.6486586255873816,
 'desenvolvimento': 1.8325814637483102,
 'sustentavel': 3.091042453358316,
 'seguranca': 1.2039728043259361,
 'artes': 2.0794415416798357,
 'literatura': 2.4423470353692043,
 'vinculacoes': 3.091042453358316,
 'historicas': 3.091042453358316,
 'estudar': 3.091042453358316,
 'conteudo': 3.091042453358316,
 'especifico': 3.091042453358316,
 'exigido': 3.091042453358316,
 'candidatou': 3.091042453358316,
 'erramos': 3.091042453358316,
 'sigla': 2.4423470353692043,
 'empresa': 1.067840630001356,
 'brasileira': 1.3862943611198906,
 'radiodifusao': 3.091042453358316,
 'radiobras': 3.091042453358316,
 'acento': 3.091042453358316,
 'agudo': 3.091042453358316,
 'grafado': 3.091042453358316,
 'pagina': 0.9614111671546247,
 'edicao': 1.3862943611198906,
 'ontem': 1.1314021114911006,
 'publicacao': 0.9614111671546247,
 '19/04/2006': 3.091042453358316,
 'editoria': 0.9614111671546247,
 'caminho': 1.8325814637483102,
 'diminuir': 2.0794415416798357,
 'criminalidade': 2.4423470353692043,
 '...': 1.5040773967762742,
 'existe': 1.6486586255873816,
 'controlar': 2.4423470353692043,
 'prevencao': 2.0794415416798357,
 'varias': 1.5040773967762742,
 'especies': 3.091042453358316,
 'antes': 1.067840630001356,
 'nada': 1.2878542883066382,
 'violenta': 3.091042453358316,
 'homicidio': 2.0794415416798357,
 'lesoes': 2.0794415416798357,
 'corporais': 2.4423470353692043,
 'etc': 2.4423470353692043,
 'seguir': 1.8325814637483102,
 'fraudulenta': 3.091042453358316,
 'estelionato': 2.4423470353692043,
 'apropriacao': 3.091042453358316,
 'indebita': 3.091042453358316,
 'fraudes': 2.4423470353692043,
 'contra': 1.2878542883066382,
 'credores': 2.4423470353692043,
 'crimes': 1.8325814637483102,
 'colarinho': 3.091042453358316,
 'branco': 1.3862943611198906,
 'mas': 1.067840630001356,
 'desses': 1.5040773967762742,
 'dois': 1.0116009116784799,
 'grandes': 1.6486586255873816,
 'frondosos': 3.091042453358316,
 'ramos': 1.6486586255873816,
 'surge': 2.4423470353692043,
 'menos': 1.2039728043259361,
 'destaque': 1.6486586255873816,
 'sexual': 2.0794415416798357,
 'estupro': 3.091042453358316,
 'seducao': 3.091042453358316,
 'atentado': 2.4423470353692043,
 'violento': 2.4423470353692043,
 'pudor': 2.4423470353692043,
 'lado': 1.5040773967762742,
 'dessas': 2.0794415416798357,
 'manifestacoes': 2.0794415416798357,
 'crime': 1.8325814637483102,
 'encontramos': 3.091042453358316,
 'politicos': 1.8325814637483102,
 'sabotagem': 3.091042453358316,
 'terrorismo': 2.0794415416798357,
 'humanidade': 2.4423470353692043,
 'genocidio': 3.091042453358316,
 'destruicao': 1.8325814637483102,
 'bens': 1.8325814637483102,
 'publicos': 1.6486586255873816,
 'especialmente': 2.0794415416798357,
 'protegidos': 2.4423470353692043,
 'religiosos': 3.091042453358316,
 'passionais': 3.091042453358316,
 'finalmente': 2.0794415416798357,
 'the': 3.091042453358316,
 'last': 3.091042453358316,
 'but': 3.091042453358316,
 'not': 3.091042453358316,
 'least': 3.091042453358316,
 'louca': 3.091042453358316,
 'criminoso': 2.4423470353692043,
 'louco': 3.091042453358316,
 'duvida': 2.4423470353692043,
 'alguma': 2.4423470353692043,
 'perigoso': 2.0794415416798357,
 'isto': 3.091042453358316,
 'porque': 1.1314021114911006,
 'procedimento': 2.0794415416798357,
 'logica': 2.4423470353692043,
 'motivacao': 2.4423470353692043,
 'pessoa': 1.6486586255873816,
 'inimigo': 2.4423470353692043,
 'quer': 1.2039728043259361,
 'mata-la': 3.091042453358316,
 'passa': 1.3862943611198906,
 'tomar': 2.0794415416798357,
 'cuidados': 3.091042453358316,
 'cautelas': 3.091042453358316,
 'especiais': 1.8325814637483102,
 'evitando': 3.091042453358316,
 'andar': 1.6486586255873816,
 'sozinha': 2.4423470353692043,
 'onde': 1.1314021114911006,
 'anda': 1.8325814637483102,
 'suposto': 1.8325814637483102,
 'assassino': 3.091042453358316,
 'pede': 1.6486586255873816,
 'garantias': 3.091042453358316,
 'policiais': 1.6486586255873816,
 'nunca': 1.2878542883066382,
 'escuros': 2.4423470353692043,
 'isolados': 3.091042453358316,
 'tratando': 2.4423470353692043,
 'homicida': 3.091042453358316,
 'estuprador': 3.091042453358316,
 'incendiario': 3.091042453358316,
 'agredido': 2.4423470353692043,
 'localidade': 2.0794415416798357,
 'entra': 2.0794415416798357,
 'panico': 2.0794415416798357,
 'assim': 1.2039728043259361,
 'exemplo': 2.0794415416798357,
 'cidade': 1.2878542883066382,
 'mocas': 2.4423470353692043,
 'mulheres': 1.8325814637483102,
 'criancas': 1.3862943611198906,
 'matando-as': 3.091042453358316,
 'seguida': 1.6486586255873816,
 'ninguem': 1.3862943611198906,
 'sabe': 1.2878542883066382,
 'proxima': 1.2039728043259361,
 'vitima': 1.5040773967762742,
 'razao': 1.5040773967762742,
 'todas': 1.2878542883066382,
 'sentirao': 3.091042453358316,
 'ameacadas': 3.091042453358316,
 'criando-se': 3.091042453358316,
 'terror': 2.4423470353692043,
 'forma': 1.2039728043259361,
 'daqueles': 3.091042453358316,
 'matam': 3.091042453358316,
 'indiscriminadamente': 3.091042453358316,
 'americanos': 2.0794415416798357,
 'chamam': 3.091042453358316,
 'serial': 3.091042453358316,
 'killer': 3.091042453358316,
 'atuando': 1.8325814637483102,
 'sentira': 3.091042453358316,
 'seguro': 2.0794415416798357,
 'ruas': 1.2878542883066382,
 'parques': 3.091042453358316,
 'diversao': 2.4423470353692043,
 'supermercados': 3.091042453358316,
 'pracas': 2.4423470353692043,
 'aparecem': 3.091042453358316,
 'sub-especies': 3.091042453358316,
 'fanaticos': 3.091042453358316,
 'ideologicos': 3.091042453358316,
 'historia': 1.2039728043259361,
 'inumeros': 3.091042453358316,
 'exemplos': 3.091042453358316,
 'pessoas': 1.067840630001356,
 'mortas': 2.0794415416798357,
 'pessoalmente': 2.0794415416798357,
 'motivo': 1.8325814637483102,
 'algum': 1.6486586255873816,
 'cometer': 2.4423470353692043,
 'achavam': 3.091042453358316,
 'interpretando': 3.091042453358316,
 'vontade': 2.0794415416798357,
 'deus': 1.6486586255873816,
 'sentimentos': 3.091042453358316,
 'povo': 2.0794415416798357,
 'grei': 3.091042453358316,
 'religiosa': 2.4423470353692043,
 'filosofica': 3.091042453358316,
 'temos': 1.8325814637483102,
 'assassinatos': 2.0794415416798357,
 'marat': 3.091042453358316,
 'lincoln': 3.091042453358316,
 'presidente': 1.2878542883066382,
 'kennedy': 3.091042453358316,
 'martin': 2.4423470353692043,
 'luther': 3.091042453358316,
 'king': 3.091042453358316,
 'recentemente': 1.5040773967762742,
 'tentativa': 1.5040773967762742,
 'papa': 2.0794415416798357,
 'joao': 1.2878542883066382,
 'paulo': 1.2039728043259361,
 'estilista': 2.4423470353692043,
 'gianni': 3.091042453358316,
 'versace': 3.091042453358316,
 'morto': 2.0794415416798357,
 'italia': 1.6486586255873816,
 'homossexual': 2.0794415416798357,
 'semelhantes': 2.4423470353692043,
 'sido': 1.2878542883066382,
 'cometidos': 2.4423470353692043,
 'mata-se': 3.091042453358316,
 'judeu': 2.4423470353692043,
 'negro': 3.091042453358316,
 'indio': 3.091042453358316,
 'prostituta': 3.091042453358316,
 'arabe': 2.4423470353692043,
 'policial': 2.4423470353692043,
 'menor': 1.5040773967762742,
 'infrator': 3.091042453358316,
 'comunistas': 3.091042453358316,
 'assoalharam': 3.091042453358316,
 'durante': 1.1314021114911006,
 'seculo': 3.091042453358316,
 'condicoes': 1.3862943611198906,
 'economicas': 2.4423470353692043,
 'seria': 2.0794415416798357,
 'causado': 2.0794415416798357,
 'tao-so': 3.091042453358316,
 'simplesmente': 2.4423470353692043,
 'fenomenos': 3.091042453358316,
 'economicos': 2.4423470353692043,
 'como': 1.2878542883066382,
 'comunismo': 3.091042453358316,
 'moda': 3.091042453358316,
 'definicao': 2.4423470353692043,
 'concepcao': 3.091042453358316,
 'passou': 1.2878542883066382,
 'adotada': 3.091042453358316,
 'apaixonadamente': 3.091042453358316,
 'lembrava': 3.091042453358316,
 'sequer': 2.4423470353692043,
 'chamados': 3.091042453358316,
 'agente': 2.4423470353692043,
 'cego': 2.4423470353692043,
 'paixao': 2.4423470353692043,
 'mata': 2.0794415416798357,
 'amor': 1.6486586255873816,
 'salvar': 2.4423470353692043,
 'honra': 2.4423470353692043,
 'proposito': 2.4423470353692043,
 'roberto': 1.3862943611198906,
 'lyra': 2.4423470353692043,

In [33]:
df_icf = pd.DataFrame()
df_icf['Index'] = df_text_clean.index

for termo in tqdm(lista_palavras):
    
    list_icfs = []
    
    for i in df_text_clean.index:
        doc = df_text_clean.iloc[i].Text
        if termo in doc.split(" "):
            list_icfs.append(icfs[termo])
        else:
            list_icfs.append(0)
    
    df_icf[f'{termo}'] = list_icfs
    
df_icf = df_icf.set_index('Index')

100%|████████████████████████████████████████████████████████████████████████████| 12569/12569 [06:11<00:00, 33.79it/s]

In [34]:
df_icf

,concursos,vagas,nivel,superior,salario,passar,concurso,ministerio,relacoes,exteriores,...,estaveis,boletins,leitura,chamadas,telefonicas,oferecemos,sofisticados,inteligentes,violet,14/08/2006
Index,,,,,,,,,,,,,,,,,,,,,
0,2.079442,1.832581,1.648659,1.386294,1.648659,1.287854,1.648659,1.504077,2.079442,2.079442,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,1.648659,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,2.079442,1.832581,1.648659,1.386294,1.648659,1.287854,1.648659,1.504077,2.079442,2.079442,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.000000,1.287854,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.079442,2.079442,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,2.079442,1.832581,1.648659,1.386294,1.648659,1.287854,1.648659,1.504077,2.079442,2.079442,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.000000,0.000000,0.000000,0.000000,1.648659,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,0.000000,0.000000,0.000000,0.000000,0.000000,1.287854,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,2.079442,1.832581,1.648659,1.386294,1.648659,1.287854,1.648659,1.504077,2.079442,2.079442,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,0.000000,0.000000,1.648659,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
27,0.000000,0.000000,0.000000,0.000000,0.000000,1.287854,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
29,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
267,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
268,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.648659,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
269,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
270,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
271,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
272,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
273,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
274,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
275,0.000000,0.000000,0.000000,0.000000,0.000000,1.287854,0.000000,1.504077,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
276,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
277,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
278,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
279,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
280,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
281,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.648659,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
282,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
283,0.000000,0.000000,0.000000,0.000000,0.000000,1.287854,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
284,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
285,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
286,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
287,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
288,0.000000,0.000000,1.648659,0.000000,1.648659,0.000000,0.000000,1.504077,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
289,0.000000,0.000000,0.000000,0.000000,0.000000,1.287854,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
290,0.000000,0.000000,0.000000,0.000000,1.648659,1.287854,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
291,0.000000,0.000000,0.000000,0.000000,0.000000,1.287854,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
292,2.079442,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
293,0.000000,0.000000,0.000000,0.000000,0.000000,1.287854,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
294,0.000000,0.000000,0.000000,0.000000,0.000000,1.287854,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
295,0.000000,1.832581,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
296,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.091042,3.091042,3.091042,3.091042,3.091042,3.091042,3.091042,3.091042,3.091042,3.091042

In [35]:
teste = pd.DataFrame.from_dict(icfs, orient='index')

In [36]:
teste.head()

                  0
concursos  2.079442
vagas      1.832581
nivel      1.648659
superior   1.386294
salario    1.648659

## Machine Learning

### KNN

In [37]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score, roc_curve,classification_report,r2_score
from sklearn import model_selection as ms
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

In [38]:
le = LabelEncoder()

In [39]:
def toNumeric(nome_coluna, coluna):
    df_text_clean[nome_coluna] = le.fit_transform (coluna)

In [40]:
toNumeric('numeric_class',df_text_clean.Class)

In [41]:
# features
X = TF

In [42]:
#response
Y = df_text_clean['numeric_class'].copy()

In [43]:
x_train, x_test, y_train, y_test = ms.train_test_split(X,Y,test_size=0.33, random_state=5)

In [44]:
model_knn = KNeighborsClassifier(n_neighbors=1)

In [45]:
model_knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=1, p=2,
           weights='uniform')

In [46]:
pred = model_knn.predict_proba(x_test)

In [47]:
plot_roc_curve(np.array(y_test), pred[:,1])

NameError: name 'plot_roc_curve' is not defined

# Imports do EDA

In [ ]:
# print da curva ROC
def plot_roc_curve(y_true, y_score, figsize=(10,6)):
    fpr, tpr, _ = roc_curve(y_true, y_score, pos_label=2)
    plt.figure(figsize=figsize)
    auc_value = roc_auc_score(y_true, y_score)
    plt.plot(fpr, tpr, color='orange', label='ROC curve (area = %0.2f)' % auc_value)
    plt.plot([0, 1], [0, 1], color='darkblue', linestyle='--')
    plt.xlabel('Taxa de falso positivo')
    plt.ylabel('Taxa de verdadeiro positivo')
    plt.title('Curva ROC')
    plt.legend()
    lt.show()

In [ ]:
#precision    recall  f1-score   support
print(classification_report(y_test, pred, labels=[1, 2, 3]))

In [ ]:
# AUC
print('AUC: %0.2f' % roc_auc_score(y_test, pred))

## Número de amostras de cade classe

In [ ]:
import seaborn as sns

In [ ]:
sns.set(rc={'figure.figsize':(11.7,8.27)})
sns.countplot(x = 'Class',data = textDataDrame)