In [1]:
import numpy as np
import pandas as pd
import os
from tqdm import tqdm

In [2]:
path = os.getcwd() + "/atribuna/milarquivos"
content_file_array = []
classifier_array = []

In [3]:
def read_text(path, file_Name):
    with open(path, encoding="latin-1") as file:
        content_file = file.read()
        Build_DataFrame(content_file, file_Name)

In [4]:
def Build_DataFrame(content_file, file_Name):
    classifier =  GetClassifier(file_Name) 
    if(len(classifier) >= 3):        
        classifier_array.append(classifier)
        content_file_array.append(content_file)

In [5]:
def GetClassifier(file_Name):
    name_split =  file_Name.split(".")
    first_name = name_split[0];
    return first_name[(len(first_name) - 3) : len(first_name)]

In [6]:
for file_Name in tqdm(os.listdir(path), desc="Carregar arquivos"):    
    if file_Name.endswith(".txt"):
        file_path = f"{path}/{file_Name}"
      
        # call read text file function
        read_text(file_path, file_Name)

Carregar arquivos: 100%|███████████████████████████████████████████████████████████| 154/154 [00:00<00:00, 8337.93it/s]

In [7]:
textDataDrame =  pd.DataFrame({"Text":content_file_array, "Class":classifier_array})

In [8]:
textDataDrame.head(10)

                                                Text Class
0  Nasce um novo amiguinho virtual\n<b> Coelhinho...   inf
1  Brigas na saída de boates\n<b> A denúncia é de...   poc
2  Queijo fica perto do livro dos recordes\n<b> O...   poc
3  Queijo fica perto do livro dos recordes\n<b> O...   reg
4  PLENÁRIO\n<b>  </b><br>\n <br>\nBolo social do...   pot
5  Quadrilha assalta lanchonete\n<b> Cinco bandid...   poc
6  CARTAS\n<b>  </b><br>\n <br>\nParabéns\nÀ Rede...   opi
7  Mineiro é baleado em assalto \n<b> O gerente c...   poc
8  CARTAS\n<b>  </b><br>\n <br>\nParabéns\nVenho ...   opi
9  Aluno é morto com um soco\n<b> Adolescente de ...   poc

# StopWords removing

In [9]:
#!conda install unidecode

import nltk
import unidecode
from bs4 import BeautifulSoup

# nltk.download()
#- averaged_perceptron_tagger
# - floresta
# - mac_morpho
# - machado
# - punkt
# - stopwords
# - wordnet
# - words

from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [10]:
def addStopWordsToList(texto):
    example_sent = texto
    word_tokens = word_tokenize(example_sent)

    filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]

    filtered_sentence = ""

    for w in word_tokens:
        if w not in stop_words:
            filtered_sentence += w + " "
    return filtered_sentence.strip()

In [11]:
stop_words = set(stopwords.words('portuguese'))
def returnDataFrameStopWords(dataFrame):
    dataReturn = pd.DataFrame()
    for row in tqdm(dataFrame.itertuples(index=True, name='Pandas'), desc="Limpeza de texto"):
        Text = row.Text
        Class = row.Class

        Text = BeautifulSoup(Text, "lxml").text
        Text = unidecode.unidecode(Text)
        Text = addStopWordsToList(Text)
        Text = Text.replace(" . "," ")
        Text = Text.replace(" , "," ")
        Text = Text.replace(" - "," ")
        Text = Text.replace(" : "," ")
        Text = Text.lower()

        linha = pd.Series([Text, Class])
        linha = pd.DataFrame([linha])
        dataReturn = pd.concat([linha, dataReturn], ignore_index=True)

    return dataReturn

In [12]:
df_text_clean = returnDataFrameStopWords(textDataDrame)

Limpeza de texto: 152it [00:00, 189.73it/s]

## Fatores de Ponderação

In [13]:
df_text_clean = df_text_clean.rename(columns = {0: 'Text', 1: 'Class'}, inplace = False)
df_text_clean.head()

                                                Text Class
0  acusado trafico morto maria ortiz o acusado tr...   poc
1  notas capixaba maxwell inter milao o inter mil...   ept
2  portugal rende familia scolari os jogadores im...   ept
3  briga pegar pescoco fica dito nao dito a tribu...   ept
4  fama nao garante vaga melbourne o elenco austr...   ept

In [14]:
from sklearn.feature_extraction.text import TfidfTransformer # tf-idf
from sklearn.feature_extraction.text import CountVectorizer # tf

In [15]:
classes = []
for row in df_text_clean.itertuples(index=True, name='Pandas'):  
    if row.Class not in classes:
        classes.append(row.Class)
classes

['poc',
 'ept',
 'pot',
 'cit',
 'int',
 'eco',
 'opi',
 'inf',
 'reg',
 'bro',
 'cid',
 'at2',
 'sro']

In [16]:
 classes =  ["at2","sro","inf","imo","ept","esp","fam","tvt","cid","mul","pot","tav","mic","opi","poc","reg","eco","bro","cit","con","int"]

## TF

In [17]:
vectorizer = CountVectorizer()
TF = vectorizer.fit_transform(df_text_clean.Text)
features_names =  vectorizer.get_feature_names()

## TF-IDF

In [18]:
from sklearn.pipeline import Pipeline

In [19]:
pipe = Pipeline([('count', CountVectorizer(vocabulary=features_names)),
                 ('tfid', TfidfTransformer())]).fit(df_text_clean.Text)

# Lista de palavras

In [20]:
lista_palavras = []
for row in tqdm(df_text_clean.itertuples(index=True, name='Pandas')):
    palavras = row.Text.split(" ")
    for palavra in palavras:
        if(not len(palavra) <= 2):
            if(palavra not in lista_palavras):
                lista_palavras.append(palavra)

152it [00:01, 130.99it/s]

---

# frequencia palavra por classe

In [21]:
dic_doc_class = {}

for classe in tqdm(classes):
    lista_doc = []
    for row in df_text_clean.itertuples(index=True, name='Pandas'):  
        if (str(classe) == row.Class):
            lista_doc.append(row.Text)
    dic_doc_class[f'{classe}'] = lista_doc

100%|████████████████████████████████████████████████████████████████████████████████| 21/21 [00:00<00:00, 1364.83it/s]

In [22]:
df_relacao_class = pd.DataFrame()
df_relacao_class['Index'] = lista_palavras
for key in tqdm(dic_doc_class):
    lista_docs =  dic_doc_class[key]
    docs = ""
    for doc in lista_docs:
        docs += f' {doc}'
        
    doc = docs
    
    lista_quant =[]
    
    for termo in lista_palavras:
        quant = doc.split(" ").count(termo)
        lista_quant.append(quant)
        
    df_relacao_class[f'{key}'] = lista_quant
    
    
df_relacao_class = df_relacao_class.set_index('Index')

100%|██████████████████████████████████████████████████████████████████████████████████| 21/21 [00:17<00:00,  1.17it/s]

In [23]:
df_relacao_class.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
acusado,0,0,0,0,0,0,0,0,0,0,...,0,0,0,23,0,0,0,0,0,0
trafico,0,0,0,0,0,0,0,0,0,0,...,0,0,1,7,0,0,0,0,0,0
morto,0,0,0,0,0,0,0,0,0,0,...,0,0,0,12,0,0,0,0,0,0
maria,2,0,0,0,1,0,0,0,0,0,...,0,0,8,6,2,2,0,0,0,0
ortiz,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0

# ni - o numero  de documentos em que um determinado termo ki aparece

In [24]:
dic_ni = {}

for termo in tqdm(lista_palavras):
    quant = 0 
    for row in df_text_clean.itertuples(index=True, name='Pandas'):
        doc = row.Text
        if(termo in doc):
            quant += 1
    dic_ni[f'{termo}'] = quant

100%|████████████████████████████████████████████████████████████████████████████| 9561/9561 [00:08<00:00, 1103.64it/s]

# a - quantidade de documentos que pertence a uma classe e posuem o termo ki

#  c - o numero  de documentos que pertencem a Cp, mas não possuem o termo ki

In [25]:
df_a = pd.DataFrame()
df_a['Index'] = lista_palavras

df_c = pd.DataFrame()
df_c['Index'] = lista_palavras

for key in tqdm(dic_doc_class):
    lista_docs =  dic_doc_class[key]
    lista_quant_a =[]
    lista_quant_c =[]

    for termo in lista_palavras:
        quant_a = 0
        quant_c = 0
        
        for doc in lista_docs:
            if(termo in doc):
                quant_a += 1
            else:
                quant_c += 1
                
        lista_quant_a.append(quant_a)
        lista_quant_c.append(quant_c)
        
    df_a[f'{key}'] = lista_quant_a
    df_c[f'{key}'] = lista_quant_c
    
    
df_a = df_a.set_index('Index')
df_c = df_c.set_index('Index')

100%|██████████████████████████████████████████████████████████████████████████████████| 21/21 [00:02<00:00,  8.76it/s]

# df_a

In [26]:
df_a.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
acusado,0,0,0,0,0,0,0,0,0,0,...,0,0,0,14,0,0,0,0,0,1
trafico,0,0,0,0,0,0,0,0,0,0,...,0,0,1,5,0,0,0,0,0,0
morto,0,0,0,0,0,0,0,0,0,0,...,0,0,0,5,0,0,0,0,0,1
maria,1,0,0,0,1,0,0,0,1,0,...,0,0,5,2,1,1,0,0,0,0
ortiz,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

# df_c

In [27]:
df_c.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
acusado,9,1,4,0,27,0,0,0,7,0,...,0,0,7,23,7,13,4,6,0,15
trafico,9,1,4,0,27,0,0,0,7,0,...,0,0,6,32,7,13,4,6,0,16
morto,9,1,4,0,27,0,0,0,7,0,...,0,0,7,32,7,13,4,6,0,15
maria,8,1,4,0,26,0,0,0,6,0,...,0,0,2,35,6,12,4,6,0,16
ortiz,9,1,4,0,27,0,0,0,7,0,...,0,0,7,36,7,13,4,6,0,16

# b - a quantidade de documentos que possuem o termo ki, mas não pertence a Cp

# d o numero de documentos que não possuem ki e não pertencem a Cp.

In [28]:
df_b = pd.DataFrame()
df_b['Index'] = lista_palavras

df_d = pd.DataFrame()
df_d['Index'] = lista_palavras

for key in tqdm(dic_doc_class):
    lista_quant_b =[]
    lista_quant_d =[]
    
    for termo in lista_palavras:
        quant_b = 0
        quant_d = 0
        for classe in classes:
            if(classe != key):
                lista_docs =  dic_doc_class[classe]
                
                for doc in lista_docs:
                    if(termo in doc):
                        quant_b += 1
                    else:
                        quant_d += 1
                        
        lista_quant_b.append(quant_b)
        lista_quant_d.append(quant_d)
        
    df_b[f'{key}'] = lista_quant_b
    df_d[f'{key}'] = lista_quant_d
    
df_b = df_b.set_index('Index')
df_d = df_d.set_index('Index')

100%|██████████████████████████████████████████████████████████████████████████████████| 21/21 [00:45<00:00,  2.19s/it]

# df_b

In [29]:
df_b.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
acusado,17,17,17,17,17,17,17,17,17,17,...,17,17,17,3,17,17,17,17,17,16
trafico,7,7,7,7,7,7,7,7,7,7,...,7,7,6,2,7,7,7,7,7,7
morto,6,6,6,6,6,6,6,6,6,6,...,6,6,6,1,6,6,6,6,6,5
maria,12,13,13,13,12,13,13,13,12,13,...,13,13,8,11,12,12,13,13,13,13
ortiz,1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,1,1,1,1,1,1

# df_d

In [30]:
df_d.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
acusado,126,134,131,135,108,135,135,135,128,135,...,135,135,128,112,128,122,131,129,135,120
trafico,136,144,141,145,118,145,145,145,138,145,...,145,145,139,113,138,132,141,139,145,129
morto,137,145,142,146,119,146,146,146,139,146,...,146,146,139,114,139,133,142,140,146,131
maria,131,138,135,139,113,139,139,139,133,139,...,139,139,137,104,133,127,135,133,139,123
ortiz,142,150,147,151,124,151,151,151,144,151,...,151,151,144,115,144,138,147,145,151,135

---

In [31]:
def get_row_class(row, classe):
    dic_classe = {
        'at2':row.at2,
        'sro':row.sro,
        'inf':row.inf,
        'imo':row.imo,
        'ept':row.ept,
        'esp':row.esp,
        'fam':row.fam,
        'tvt':row.tvt,
        'cid':row.cid,
        'mul':row.mul,
        'pot':row.pot,
        'tav':row.tav,
        'mic':row.mic,
        'opi':row.opi,
        'poc':row.poc,
        'reg':row.reg,
        'eco':row.eco,
        'bro':row.bro,
        'cit':row.cit,
        'con':row.con,
        'int':row.int
    }
    return dic_classe[f'{classe}']

In [32]:
# conta quantas classes o termo ki aparece
def num_ki_em_categoria():

    dic_num_ki_em_categoria ={}
    for row in tqdm(df_relacao_class.itertuples(index=True, name='Pandas')):
        ci = 0
        for classe in classes:
            if get_row_class(row,classe)!= 0:
                ci += 1
        dic_num_ki_em_categoria[f'{row.Index}'] = ci
        
    return dic_num_ki_em_categoria

# Bag of Word

In [33]:
bag_of_word = {}
bag_of_word['a'] = df_a
bag_of_word['b'] = df_b
bag_of_word['c'] = df_c
bag_of_word['d'] = df_d
bag_of_word['freq_pal_class'] = df_relacao_class
bag_of_word['ci'] = num_ki_em_categoria()
bag_of_word['ni'] = dic_ni

9561it [00:00, 29980.73it/s]

## ICF

In [34]:
import math

In [35]:
def calculeteICF():
    dic_num_ki_em_categoria = bag_of_word['ci']
    icfs = {}
    C = len(classes)
    for key in dic_num_ki_em_categoria:
        Ci = dic_num_ki_em_categoria[key]
        valor = math.log((1 + (C/Ci)))
        icfs[f'{key}'] = valor
    return icfs

In [36]:
icfs = calculeteICF() 
icfs

{'acusado': 2.4423470353692043,
 'trafico': 2.0794415416798357,
 'morto': 3.091042453358316,
 'maria': 1.3862943611198906,
 'ortiz': 3.091042453358316,
 'israel': 3.091042453358316,
 'pinheiro': 3.091042453358316,
 'lacerda': 3.091042453358316,
 'anos': 1.2039728043259361,
 'manha': 1.5040773967762742,
 'ontem': 1.2039728043259361,
 'bairro': 1.8325814637483102,
 'vitoria': 1.067840630001356,
 'ele': 1.1314021114911006,
 'atingido': 3.091042453358316,
 'tiros': 3.091042453358316,
 'pistola': 3.091042453358316,
 '765': 3.091042453358316,
 'atingiram': 3.091042453358316,
 'bracos': 2.4423470353692043,
 'costas': 3.091042453358316,
 'cabeca': 2.0794415416798357,
 'assassinato': 3.091042453358316,
 'aconteceu': 1.8325814637483102,
 'volta': 1.3862943611198906,
 'horas': 1.2039728043259361,
 'rua': 1.2878542883066382,
 'penha': 1.5040773967762742,
 'costa': 1.2878542883066382,
 'rocha': 1.8325814637483102,
 'acordo': 1.2878542883066382,
 'investigadores': 2.4423470353692043,
 'divisao': 2.4423470353692043,
 'homicidios': 3.091042453358316,
 'protecao': 2.4423470353692043,
 'pessoa': 2.0794415416798357,
 'cumpriu': 2.4423470353692043,
 'pena': 2.0794415416798357,
 'seis': 1.2878542883066382,
 'drogas': 1.8325814637483102,
 'solto': 2.4423470353692043,
 'sete': 1.5040773967762742,
 'meses': 1.3862943611198906,
 'liberdade': 2.0794415416798357,
 'condicional': 3.091042453358316,
 'guarapari': 2.0794415416798357,
 'homem': 1.6486586255873816,
 'identificado': 2.4423470353692043,
 'tiago': 3.091042453358316,
 'santos': 1.3862943611198906,
 'cinco': 1.3862943611198906,
 'revolver': 3.091042453358316,
 'calibre': 3.091042453358316,
 'data': 0.9614111671546247,
 'publicacao': 0.9614111671546247,
 '19/01/2004': 3.091042453358316,
 'pagina': 0.9614111671546247,
 'editoria': 0.9614111671546247,
 'policia': 1.6486586255873816,
 'notas': 2.0794415416798357,
 'capixaba': 1.8325814637483102,
 'maxwell': 2.4423470353692043,
 'inter': 3.091042453358316,
 'milao': 3.091042453358316,
 'anunciou': 1.6486586255873816,
 'contratacao': 2.0794415416798357,
 'lateral': 3.091042453358316,
 'esquerdo': 2.4423470353692043,
 'ser': 1.067840630001356,
 'vendido': 2.0794415416798357,
 'ajax': 3.091042453358316,
 'holanda': 3.091042453358316,
 'disputou': 2.4423470353692043,
 'ultimo': 1.2039728043259361,
 'campeonato': 2.4423470353692043,
 'italiano': 2.4423470353692043,
 'empoli': 3.091042453358316,
 'alem': 1.0116009116784799,
 'tambem': 1.0116009116784799,
 'acertou': 2.4423470353692043,
 'direito': 1.2039728043259361,
 'maicon': 3.091042453358316,
 'joga': 2.4423470353692043,
 'monaco': 3.091042453358316,
 'dois': 1.1314021114911006,
 'jogarao': 3.091042453358316,
 'lado': 1.5040773967762742,
 'adriano': 2.0794415416798357,
 'julio': 2.0794415416798357,
 'cesar': 2.0794415416798357,
 'selecao': 1.6486586255873816,
 'brasileira': 1.5040773967762742,
 'copa': 1.6486586255873816,
 'lippi': 3.091042453358316,
 'deixa': 2.4423470353692043,
 'azzurra': 3.091042453358316,
 'mao': 1.8325814637483102,
 'tecnico': 1.6486586255873816,
 'marcelo': 2.4423470353692043,
 'saida': 1.5040773967762742,
 'comando': 2.4423470353692043,
 'italiana': 2.0794415416798357,
 'tres': 1.0116009116784799,
 'dias': 1.2039728043259361,
 'levar': 1.6486586255873816,
 'tetracampeonato': 3.091042453358316,
 'mundial': 2.0794415416798357,
 'depois': 1.5040773967762742,
 'experiencia': 2.4423470353692043,
 'extraordinaria': 2.4423470353692043,
 'humana': 2.4423470353692043,
 'profissional': 2.0794415416798357,
 'equipe': 1.2039728043259361,
 'primeiro': 1.1314021114911006,
 'escalao': 2.4423470353692043,
 'acredito': 3.091042453358316,
 'chegou': 1.5040773967762742,
 'fim': 1.5040773967762742,
 'trabalho': 1.1314021114911006,
 'disse': 1.067840630001356,
 'treinador': 3.091042453358316,
 'devera': 1.6486586255873816,
 'substituido': 3.091042453358316,
 'alberto': 1.6486586255873816,
 'zaccheroni': 3.091042453358316,
 'roberto': 1.6486586255873816,
 'donadoni': 3.091042453358316,
 'claudio': 2.4423470353692043,
 'gentile': 3.091042453358316,
 'ultimos': 1.8325814637483102,
 'ex-jogadores': 3.091042453358316,
 'torcedor': 2.4423470353692043,
 'ganha': 1.8325814637483102,
 'indenizacao': 2.4423470353692043,
 'cbf': 3.091042453358316,
 'condenada': 2.4423470353692043,
 'justica': 1.2878542883066382,
 'rio': 1.2039728043259361,
 'pagar': 1.8325814637483102,
 '3,5': 3.091042453358316,
 'mil': 1.1314021114911006,
 'bruno': 2.0794415416798357,
 'barcellos': 3.091042453358316,
 'moura': 3.091042453358316,
 'danos': 2.0794415416798357,
 'morais': 2.4423470353692043,
 'causa': 1.2878542883066382,
 'anulacao': 3.091042453358316,
 'jogo': 2.0794415416798357,
 'juventude': 2.4423470353692043,
 'fluminense': 2.4423470353692043,
 'caxias': 2.4423470353692043,
 'ano': 1.1314021114911006,
 'passado': 1.2039728043259361,
 'outros': 1.2878542883066382,
 'apitados': 3.091042453358316,
 'juiz': 1.6486586255873816,
 'paulista': 2.0794415416798357,
 'edilson': 3.091042453358316,
 'pereira': 1.8325814637483102,
 'carvalho': 2.4423470353692043,
 'anulados': 3.091042453358316,
 'repetidos': 3.091042453358316,
 'descoberta': 3.091042453358316,
 'fazia': 1.6486586255873816,
 'parte': 1.3862943611198906,
 'mafia': 2.4423470353692043,
 'apito': 3.091042453358316,
 'argentinos': 3.091042453358316,
 'tentam': 2.4423470353692043,
 'dobrar': 3.091042453358316,
 'pekerman': 3.091042453358316,
 'presidente': 1.2878542883066382,
 'associacao': 1.5040773967762742,
 'futebol': 2.0794415416798357,
 'argentino': 3.091042453358316,
 'grondona': 3.091042453358316,
 'tentando': 1.5040773967762742,
 'convencer': 2.4423470353692043,
 'jose': 1.067840630001356,
 'continuar': 1.6486586255873816,
 'frente': 1.3862943611198906,
 'portenha': 3.091042453358316,
 'apos': 1.1314021114911006,
 'bom': 1.3862943611198906,
 'fez': 1.2878542883066382,
 'durante': 1.1314021114911006,
 'temos': 2.0794415416798357,
 'conversar': 2.4423470353692043,
 'descobrir': 3.091042453358316,
 'motivo': 2.4423470353692043,
 'demissao': 2.4423470353692043,
 'maradona': 3.091042453358316,
 'compara': 3.091042453358316,
 'eternos': 3.091042453358316,
 'rivais': 3.091042453358316,
 'criticou': 3.091042453358316,
 'recepcao': 2.4423470353692043,
 'argentina': 2.4423470353692043,
 'recebeu': 1.8325814637483102,
 'chegada': 1.8325814637483102,
 'buenos': 2.4423470353692043,
 'aires': 2.4423470353692043,
 'cerca': 1.3862943611198906,
 'quatro': 1.2039728043259361,
 'torcedores': 2.0794415416798357,
 'aeroporto': 3.091042453358316,
 'ezeiza': 3.091042453358316,
 'aplaudir': 3.091042453358316,
 'jogadores': 2.0794415416798357,
 'eliminada': 3.091042453358316,
 'quartas-de-final': 3.091042453358316,
 'meu': 2.0794415416798357,
 'deus': 1.6486586255873816,
 'acontece': 1.5040773967762742,
 'agora': 1.067840630001356,
 'celebramos': 3.091042453358316,
 'enquanto': 1.5040773967762742,
 'brasil': 1.0116009116784799,
 'queimaram': 3.091042453358316,
 'ate': 1.1314021114911006,
 'estatua': 3.091042453358316,
 'ronaldinho': 2.4423470353692043,
 'disparou': 3.091042453358316,
 '13/08/2006': 3.091042453358316,
 'esportes': 3.091042453358316,
 'portugal': 2.4423470353692043,
 'rende': 3.091042453358316,
 'familia': 1.2878542883066382,
 'scolari': 3.091042453358316,
 'imprensa': 1.8325814637483102,
 'lusitana': 3.091042453358316,
 'dizem': 2.0794415416798357,
 'amem': 3.091042453358316,
 'estilo': 2.4423470353692043,
 'paizao': 3.091042453358316,
 'felipao': 3.091042453358316,
 'estao': 1.1314021114911006,
 'confiantes': 3.091042453358316,
 'marienfeld': 3.091042453358316,
 'alemanha': 1.6486586255873816,
 'assim': 1.2878542883066382,
 '2002': 2.0794415416798357,
 'transformou': 2.4423470353692043,
 'filosofia': 3.091042453358316,
 'pentacampeonato': 3.091042453358316,
 'elogiada': 3.091042453358316,
 'publicamente': 3.091042453358316,
 'turma': 3.091042453358316,
 'diretamente': 2.4423470353692043,
 'envolvida': 3.091042453358316,
 'trama': 2.4423470353692043,
 'mais': 1.8325814637483102,
 'especificamente': 3.091042453358316,
 'ganhou': 2.0794415416798357,
 'chance': 2.4423470353692043,
 'participar': 2.0794415416798357,
 'primeira': 1.3862943611198906,
 'sabe': 1.3862943611198906,
 'falar': 1.5040773967762742,
 'sempre': 1.3862943611198906,
 'tenta': 1.8325814637483102,
 'passar': 1.2878542883066382,
 'alegria': 3.091042453358316,
 'brasileiros': 1.6486586255873816,
 'sao': 1.0116009116784799,
 'tao': 1.5040773967762742,
 'conhecidos': 2.4423470353692043,
 'professor': 1.6486586255873816,
 'porque': 1.2039728043259361,
 'conversa': 3.091042453358316,
 'conosco': 3.091042453358316,
 'pai': 1.8325814637483102,
 'explicou': 1.6486586255873816,
 'meia': 3.091042453358316,
 'simao': 3.091042453358316,
 'propria': 1.8325814637483102,
 'aparicao': 3.091042453358316,
 'sala': 2.0794415416798357,
 'script': 3.091042453358316,
 'famosos': 2.4423470353692043,
 'deco': 3.091042453358316,
 'figo': 3.091042453358316,
 'alternam-se': 3.091042453358316,
 'entrevistas': 2.4423470353692043,
 'coletivas': 3.091042453358316,
 'coadjuvantes': 3.091042453358316,
 'reafirmacao': 3.091042453358316,
 'importancia': 2.0794415416798357,
 'elenco': 2.4423470353692043,
 'apoio': 1.5040773967762742,
 'recebe': 1.6486586255873816,
 'elogios': 3.091042453358316,
 'conta': 1.3862943611198906,
 'midia': 2.4423470353692043,
 'portuguesa': 2.4423470353692043,
 'considerada': 3.091042453358316,
 'sacudidela': 3.091042453358316,
 'funcionamento': 1.8325814637483102,
 'embora': 1.3862943611198906,
 'nao': 0.9614111671546247,
 'dado': 2.4423470353692043,
 'brasileiro': 1.3862943611198906,
 'menos': 1.2878542883066382,
 'bateu': 2.4423470353692043,
 'papo': 2.4423470353692043,
 'rapidamente': 1.8325814637483102,
 'jornalistas': 2.4423470353692043,
 'assistiam': 3.091042453358316,
 'sessao': 2.4423470353692043,
 'treinos': 2.4423470353692043,
 'marcada': 2.4423470353692043,
 'partida': 2.4423470353692043,
 'futevolei': 3.091042453358316,
 'nada': 1.3862943611198906,
 'conversado': 3.091042453358316,
 'ligado': 2.4423470353692043,
 'interessado': 1.8325814637483102,
 'saber': 1.5040773967762742,
 'detalhes': 2.0794415416798357,
 'sobre': 1.0116009116784799,
 'mau': 1.8325814637483102,
 'momento': 1.8325814637483102,
 'vivido': 2.4423470353692043,
 'palmeiras': 2.4423470353692043,
 'clube': 2.4423470353692043,
 'onde': 1.1314021114911006,
 'memoravel': 3.091042453358316,
 'passagem': 1.8325814637483102,
 'culminando': 3.091042453358316,
 'conquista': 2.4423470353692043,
 'libertadores': 3.091042453358316,
 '1999': 2.0794415416798357,
 'mostrou': 1.8325814637483102,
 'preocupacao': 2.4423470353692043,
 'sorriu': 3.091042453358316,
 'lembrado': 3.091042453358316,
 'rebaixamento': 3.091042453358316,
 'ocorreu': 2.4423470353692043,
 'comandou': 2.4423470353692043,
 'penta': 3.091042453358316,
 'informado': 2.4423470353692043,
 'ney': 3.091042453358316,
 'franco': 2.4423470353692043,
 'conhecera': 3.091042453358316,
 'tempos': 1.6486586255873816,
 'cruzeiro': 3.091042453358316,
 'assumido': 3.091042453358316,
 'flamengo': 3.091042453358316,
 'antes': 1.1314021114911006,
 'despedir': 3.091042453358316,
 'piada': 3.091042453358316,
 'agradecer': 3.091042453358316,
 'recorde': 1.6486586255873816,
 'vitorias': 2.4423470353692043,
 'partidas': 2.4423470353692043,
 'longa': 2.0794415416798357,
 'invencibilidade': 3.091042453358316,
 'atingidos': 2.4423470353692043,
 'amistoso': 3.091042453358316,
 'sabado': 1.2878542883066382,
 'contra': 1.2878542883066382,
 'luxemburgo': 3.091042453358316,
 'repente': 3.091042453358316,
 'vem': 1.3862943611198906,
 'invictas': 3.091042453358316,
 'referindo-se': 3.091042453358316,
 'numero': 1.5040773967762742,
 'maximo': 1.8325814637483102,
 'jogos': 1.6486586255873816,
 'pais': 1.1314021114911006,
 'pode': 1.1314021114911006,
 'fazer': 1.2039728043259361,
 'mesma': 1.3862943611198906,
 'mundo': 1.1314021114911006,
 'ballack': 3.091042453358316,
 'pensa': 3.091042453358316,
 'ingleses': 3.091042453358316,
 'berlim': 2.4423470353692043,
 'comecou': 1.6486586255873816,
 'pensar': 2.4423470353692043,
 'possiveis': 3.091042453358316,
 'adversarios': 3.091042453358316,
 'segunda': 1.8325814637483102,
 'fase': 2.4423470353692043,
 '2006': 1.6486586255873816,
 'escapou': 2.4423470353692043,
 'atencao': 1.6486586255873816,
 'ninguem': 1.3862943611198906,
 'velha': 1.2878542883066382,
 'rivalidade': 3.091042453358316,
 'inglaterra': 1.8325814637483102,
 'voltar': 1.8325814637483102,
 'tona': 3.091042453358316,
 'vou': 1.5040773967762742,
 'negar': 1.8325814637483102,
 'pensado': 3.091042453358316,
 'poderemos': 3.091042453358316,
 'enfrentar': 2.4423470353692043,
 'rodada': 3.091042453358316,
 'capitao': 1.8325814637483102,
 'michael': 3.091042453358316,
 'segredo': 2.4423470353692043,
 'sera': 1.067840630001356,
 'paraguai': 2.4423470353692043,
 'suecia': 3.091042453358316,
 'acho': 1.6486586255873816,
 'boa': 1.6486586255873816,
 'todos': 1.2039728043259361,
 'motivos': 2.0794415416798357,
 'estar': 1.3862943611198906,
 'confiante': 3.091042453358316,
 'vai': 1.0116009116784799,
 'chegar': 1.6486586255873816,
 'oitavas-de-final': 3.091042453358316,
 'tricampeoes': 3.091042453358316,
 'estreiam': 3.091042453358316,
 'torneio': 3.091042453358316,
 'rica': 2.4423470353692043,
 'munique': 3.091042453358316,
 'nesta': 1.6486586255873816,
 'sexta-feira': 1.5040773967762742,
 'enfrentam': 3.091042453358316,
 'ainda': 1.0116009116784799,
 'polonia': 3.091042453358316,
 'equador': 2.4423470353692043,
 'grupo': 1.2039728043259361,
 'adversario': 3.091042453358316,
 'saira': 3.091042453358316,
 'trinidad': 3.091042453358316,
 'tobago': 3.091042453358316,
 'claro': 2.0794415416798357,
 'prefere': 3.091042453358316,
 'evitar': 1.6486586255873816,
 'duvidas': 2.4423470353692043,
 'favoritos': 3.091042453358316,
 'levantar': 2.0794415416798357,
 'trofeu': 2.4423470353692043,
 'completou': 3.091042453358316,
 'problema': 1.6486586255873816,
 'panturrilha': 3.091042453358316,
 'certeza': 2.0794415416798357,
 'estara': 2.0794415416798357,
 'campo': 1.5040773967762742,
 'ficou': 1.6486586255873816,
 'treinamento': 2.0794415416798357,
 'segunda-feira': 1.5040773967762742,
 'participou': 2.4423470353692043,
 'indoor': 3.091042453358316,
 'franca': 1.8325814637483102,
 'aposta': 2.0794415416798357,
 'reservas': 3.091042453358316,
 'saint-etienne': 3.091042453358316,
 'sucesso': 1.6486586255873816,
 'depender': 3.091042453358316,
 'grande': 1.1314021114911006,
 'vao': 1.2878542883066382,
 'portar': 3.091042453358316,
 'nisto': 3.091042453358316,
 'acredita': 1.8325814637483102,
 'francesa': 1.8325814637483102,
 'raymond': 3.091042453358316,
 'domenech': 3.091042453358316,
 'uma': 1.2878542883066382,
 'final': 1.1314021114911006,
 'contar': 1.6486586255873816,
 'qualquer': 1.2878542883066382,
 'preparacao': 1.8325814637483102,
 'china': 1.8325814637483102,
 'hoje': 1.1314021114911006,
 'devem': 1.6486586255873816,
 'permanecer': 3.091042453358316,
 'juntos': 2.4423470353692043,
 'desde': 1.067840630001356,
 'dia': 1.0116009116784799,
 'aqueles': 3.091042453358316,
 'jogando': 3.091042453358316,
 'prontos': 2.4423470353692043,
 'entrar': 1.5040773967762742,
 'dar': 1.2878542883066382,
 'tudo': 1.2039728043259361,
 'podem': 1.2878542883066382,
 'necessarios': 2.4423470353692043,
 'diferenca': 1.6486586255873816,
 'publico': 1.2039728043259361,
 'estimado': 3.091042453358316,
 'nove': 1.6486586255873816,
 'pessoas': 1.067840630001356,
 'assistiu': 3.091042453358316,
 'treino': 3.091042453358316,
 'situacao': 1.6486586255873816,
 'distinta': 3.091042453358316,
 'presenciada': 2.4423470353692043,
 'paris': 1.8325814637483102,
 'franceses': 2.4423470353692043,
 'derrotaram': 3.091042453358316,
 'mexico': 2.0794415416798357,
 'stade': 3.091042453358316,
 'france': 3.091042453358316,
 'vaiados': 3.091042453358316,
 'lens': 3.091042453358316,
 'time': 2.4423470353692043,
 'comandado': 2.4423470353692043,
 'venceu': 3.091042453358316,
 'dinamarca': 2.0794415416798357,
 'desta': 1.6486586255873816,
 'vez': 1.2039728043259361,
 'carinho': 2.0794415416798357,
 'populacao': 1.6486586255873816,
 'nestas': 2.4423470353692043,
 'duas': 1.2878542883066382,
 'cidades': 1.2878542883066382,
 'realmente': 2.0794415416798357,
 'amam': 3.091042453358316,
 'elogiou': 3.091042453358316,
 'viajara': 3.091042453358316,
 'amanha': 1.3862943611198906,
 'dara': 2.0794415416798357,
 'inicio': 1.2039728043259361,
 'campanha': 1.8325814637483102,
 'suica': 2.0794415416798357,
 'stuttgart': 3.091042453358316,
 'junho': 1.3862943611198906,
 'coreia': 2.4423470353692043,
 'sul': 1.3862943611198906,
 'togo': 3.091042453358316,
 '07/06/2006': 2.0794415416798357,
 'briga': 2.0794415416798357,
 'pegar': 2.4423470353692043,
 'pescoco': 2.0794415416798357,
 'fica': 1.2878542883066382,
 'dito': 2.0794415416798357,
 'tribuna': 1.5040773967762742,
 'londres': 2.0794415416798357,
 'piloto': 3.091042453358316,
 'escoces': 3.091042453358316,
 'david': 3.091042453358316,
 'coulthard': 3.091042453358316,
 'red': 3.091042453358316,
 'bull': 2.4423470353692043,
 'revelou': 1.8325814637483102,
 'agarrar': 3.091042453358316,
 'felipe': 3.091042453358316,
 'massa': 2.0794415416798357,
 'sauber': 3.091042453358316,
 'premio': 3.091042453358316,
 'san': 3.091042453358316,
 'marino': 3.091042453358316,
 'formula': 3.091042453358316,
 'domingo': 1.6486586255873816,
 'imola': 3.091042453358316,
 'tocaram': 3.091042453358316,
 'prova': 1.6486586255873816,
 'fiquei': 1.8325814637483102,
 'furioso': 3.091042453358316,
 'peguei': 2.4423470353692043,
 'quase': 1.3862943611198906,
 'esganei': 3.091042453358316,
 'respeito': 3.091042453358316,
 'pilotos': 3.091042453358316,
 'espero': 1.6486586255873816,
 'mim': 1.8325814637483102,
 'segundo': 1.2878542883066382,
 'presenca': 1.3862943611198906,
 'acabou': 1.8325814637483102,
 'acalmando': 3.091042453358316,
 'animos': 3.091042453358316,
 'quis': 2.4423470353692043,
 'embaraca-lo': 3.091042453358316,
 'gesto': 3.091042453358316,
 'obsceno': 3.091042453358316,
 'mostrei': 3.091042453358316,
 'dedo': 3.091042453358316,
 'schumacher': 3.091042453358316,
 'desculpei': 3.091042453358316,
 'poderia': 1.8325814637483102,
 'ter': 1.1314021114911006,
 'feito': 1.2878542883066382,
 'corrida': 3.091042453358316,
 'desmentiu': 2.4423470353692043,
 'sei': 1.3862943611198906,
 'tirou': 3.091042453358316,
 'fechando': 2.0794415416798357,
 'porta': 2.0794415416798357,
 'comecinho': 3.091042453358316,
 'logo': 1.5040773967762742,
 'jogou': 3.091042453358316,
 'cima': 2.0794415416798357,
 'zebra': 3.091042453358316,
 'desciamos': 3.091042453358316,
 'reta': 2.0794415416798357,
 '300': 2.4423470353692043,
 'km/h': 2.4423470353692043,
 'foi': 1.6486586255873816,
 'perigoso': 2.4423470353692043,
 'aproximei': 3.091042453358316,
 'freios': 2.4423470353692043,
 'perderam': 3.091042453358316,
 'eficiencia': 3.091042453358316,
 'por': 1.5040773967762742,
 'tocamos': 3.091042453358316,
 'perdi': 2.4423470353692043,
 'asa': 3.091042453358316,
 'dianteira': 3.091042453358316,
 'mas': 1.2878542883066382,
 'reconheco': 3.091042453358316,
 'pouco': 1.2039728043259361,
 'impulsivo': 3.091042453358316,
 'gesticulei': 3.091042453358316,
 'daquela': 3.091042453358316,
 'forma': 1.2878542883066382,
 'continuou': 2.4423470353692043,
 'intencao': 2.0794415416798357,
 'desleal': 3.091042453358316,
 'comigo': 2.0794415416798357,
 'deixar': 1.5040773967762742,
 'circuito': 2.4423470353692043,
 'encontrei-o': 3.091042453358316,
 'estacionamento': 1.6486586255873816,
 'conversamos': 3.091042453358316,
 'sonhou': 3.091042453358316,
 '12a': 3.091042453358316,
 'colocacao': 2.4423470353692043,
 'posicao': 1.8325814637483102,
 'rival': 3.091042453358316,
 '29/04/2005': 3.091042453358316,
 'fama': 2.0794415416798357,
 'garante': 1.8325814637483102,
 'vaga': 1.6486586255873816,
 'melbourne': 3.091042453358316,
 'australia': 2.4423470353692043,
 'jogador': 2.0794415416798357,
 'guus': 3.091042453358316,
 'hiddink': 3.091042453358316,
 'grecia': 3.091042453358316,

In [37]:
df_icf = pd.DataFrame()
df_icf['Index'] = df_text_clean.index

for termo in tqdm(lista_palavras):
    
    list_icfs = []
    
    for i in df_text_clean.index:
        doc = df_text_clean.iloc[i].Text
        if termo in doc:
            list_icfs.append(icfs[termo])
        else:
            list_icfs.append(0)
    
    df_icf[f'{termo}'] = list_icfs
    
df_icf = df_icf.set_index('Index')

100%|██████████████████████████████████████████████████████████████████████████████| 9561/9561 [02:32<00:00, 62.57it/s]

In [38]:
df_icf.head()

,acusado,trafico,morto,maria,ortiz,israel,pinheiro,lacerda,anos,manha,...,performance,leitura,envio,chamadas,telefonicas,oferecemos,sofisticados,inteligentes,violet,14/08/2006
Index,,,,,,,,,,,,,,,,,,,,,
0,2.442347,2.079442,3.091042,1.386294,3.091042,3.091042,3.091042,3.091042,1.203973,1.504077,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.203973,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.203973,1.504077,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.504077,...,3.091042,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

---

## X²

In [39]:
qui_quadrado = pd.DataFrame()
qui_quadrado['Index'] = lista_palavras

for classe in tqdm(classes):
    lista_valores = []
    for termo in lista_palavras:
        a = bag_of_word['a'].loc[termo, classe]
        b = bag_of_word['b'].loc[termo, classe]
        c = bag_of_word['c'].loc[termo, classe]
        d = bag_of_word['d'].loc[termo, classe]
        
        numerador = (len(df_text_clean) * math.pow(((a * d) - (c * d)), 2))
        denominador = ((a + c) * (b + d) * (a + b) * (c + d))

        if (numerador == 0):
            value = 0
        else:
            value = numerador/denominador

        lista_valores.append(value)

    qui_quadrado[f'{classe}'] = lista_valores

qui_quadrado = qui_quadrado.set_index('Index')

100%|██████████████████████████████████████████████████████████████████████████████████| 21/21 [00:06<00:00,  3.09it/s]

In [40]:
qui_quadrado.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
acusado,66.177211,7.875779,30.718625,0,166.863812,0,0,0,52.385474,0,...,0,0,52.385474,15.815481,52.385474,92.195370,30.718625,45.293795,0,85.905421
trafico,174.325867,20.564852,80.466303,0,450.396816,0,0,0,137.678383,0,...,0,0,71.265791,327.613958,137.678383,244.036035,80.466303,118.906485,0,293.182498
morto,204.968484,24.160090,94.561520,0,530.746521,0,0,0,161.844938,0,...,0,0,161.844938,386.346648,161.844938,287.059098,94.561520,139.763558,0,268.212648
maria,54.959853,10.608810,41.433464,0,198.906311,0,0,0,36.649047,0,...,0,0,13.999194,232.852245,36.649047,90.848988,41.433464,61.148684,0,149.718936
ortiz,1277.467327,149.993421,587.894756,0,3343.210808,0,0,0,1007.677735,0,...,0,0,1007.677735,3832.647217,1007.677735,1792.888847,587.894756,869.763222,0,2158.317102

---

## Relevance Frequency (RF)

In [41]:
def CalculateRF():
    df_rf = pd.DataFrame()
    df_rf['Index'] = lista_palavras
    for classe in classes:
        valores = []
        for termo in lista_palavras:
            a =  bag_of_word['a'].loc[termo,classe]
            b =  bag_of_word['b'].loc[termo,classe]
            value =  math.log(2 + (a / (max(1,b))))
            valores.append(value)
        df_rf[f'{classe}'] = valores
            
    df_rf =  df_rf.set_index('Index')
    return (df_rf)

In [42]:
df_rf = CalculateRF()
df_rf.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
acusado,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,...,0.693147,0.693147,0.693147,1.897120,0.693147,0.693147,0.693147,0.693147,0.693147,0.723919
trafico,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,...,0.693147,0.693147,0.773190,1.504077,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147
morto,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,...,0.693147,0.693147,0.693147,1.945910,0.693147,0.693147,0.693147,0.693147,0.693147,0.788457
maria,0.733969,0.693147,0.693147,0.693147,0.733969,0.693147,0.693147,0.693147,0.733969,0.693147,...,0.693147,0.693147,0.965081,0.780159,0.733969,0.733969,0.693147,0.693147,0.693147,0.693147
ortiz,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,...,0.693147,0.693147,0.693147,1.098612,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147

---

## ICF-Based

In [43]:
def Calculate_ICF_BASED():
       
    icf_based = pd.DataFrame()
    icf_based['Index'] = lista_palavras
    
    C = len(classes)
    dic_num_ki_em_categoria = bag_of_word['ci']
    
    for classe in tqdm(classes):
        valores = []
        
        for termo in lista_palavras:
            a = bag_of_word['a'].loc[termo, classe]
            b = bag_of_word['b'].loc[termo, classe]
            Ci = dic_num_ki_em_categoria[termo]

            valor = math.log((2 + (a/max(1,b)) * (C/Ci)))
            valores.append(valor)
            
        icf_based[f'{classe}'] = valores
    
    icf_based = icf_based.set_index('Index')
    
    return icf_based

In [44]:
icf_based = Calculate_ICF_BASED()
icf_based.head()

100%|██████████████████████████████████████████████████████████████████████████████████| 21/21 [00:03<00:00,  6.68it/s]

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
acusado,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,...,0.693147,0.693147,0.693147,3.931826,0.693147,0.693147,0.693147,0.693147,0.693147,0.976915
trafico,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,...,0.693147,0.693147,1.152680,2.970414,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147
morto,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,...,0.693147,0.693147,0.693147,4.672829,0.693147,0.693147,0.693147,0.693147,0.693147,1.824549
maria,0.810930,0.693147,0.693147,0.693147,0.810930,0.693147,0.693147,0.693147,0.810930,0.693147,...,0.693147,0.693147,1.354546,0.934309,0.810930,0.810930,0.693147,0.693147,0.693147,0.693147
ortiz,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147,...,0.693147,0.693147,0.693147,3.135494,0.693147,0.693147,0.693147,0.693147,0.693147,0.693147

---

## RF*IDF

In [45]:
def CalculateIDF():
    idfDict = {}
    N = len(df_text_clean)

    for termo, value in tqdm(bag_of_word['ni'].items()):
        idfDict[termo] = math.log10(N / (float(value)))
        
    return(idfDict)

In [46]:
idfDict = CalculateIDF()

100%|█████████████████████████████████████████████████████████████████████████| 9561/9561 [00:00<00:00, 1577442.39it/s]

In [47]:
def CalculateRF_IDF():
    df_rfIdf = pd.DataFrame()
    df_rfIdf['Index'] = df_rf.index
    
    for classe in classes:
        valores = []
        for index in df_rf.index:            
            valueRF =  df_rf.loc[index,classe]
            valueIdf =  idfDict[index]
            value =  valueRF * valueIdf
            valores.append(value)
        df_rfIdf[f'{classe}'] = valores
            
    df_rfIdf =  df_rfIdf.set_index('Index')
    return (df_rfIdf)

In [48]:
df_rfIdf = CalculateRF_IDF()
df_rfIdf.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
acusado,0.659457,0.659457,0.659457,0.659457,0.659457,0.659457,0.659457,0.659457,0.659457,0.659457,...,0.659457,0.659457,0.659457,1.804910,0.659457,0.659457,0.659457,0.659457,0.659457,0.688733
trafico,0.926561,0.926561,0.926561,0.926561,0.926561,0.926561,0.926561,0.926561,0.926561,0.926561,...,0.926561,0.926561,1.033558,2.010569,0.926561,0.926561,0.926561,0.926561,0.926561,0.926561
morto,0.972965,0.972965,0.972965,0.972965,0.972965,0.972965,0.972965,0.972965,0.972965,0.972965,...,0.972965,0.972965,0.972965,2.731459,0.972965,0.972965,0.972965,0.972965,0.972965,1.106752
maria,0.783806,0.740212,0.740212,0.740212,0.783806,0.740212,0.740212,0.740212,0.783806,0.740212,...,0.740212,0.740212,1.030610,0.833132,0.783806,0.783806,0.740212,0.740212,0.740212,0.740212
ortiz,1.512339,1.512339,1.512339,1.512339,1.512339,1.512339,1.512339,1.512339,1.512339,1.512339,...,1.512339,1.512339,1.512339,2.397000,1.512339,1.512339,1.512339,1.512339,1.512339,1.512339

---

## Machine Learning

### KNN

In [49]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score, roc_curve,classification_report,r2_score
from sklearn import model_selection as ms
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

In [50]:
le = LabelEncoder()

In [51]:
def toNumeric(nome_coluna, coluna):
    df_text_clean[nome_coluna] = le.fit_transform (coluna)

In [52]:
toNumeric('numeric_class',df_text_clean.Class)

In [53]:
# features
X = TF

In [54]:
#response
Y = df_text_clean['numeric_class'].copy()

In [55]:
x_train, x_test, y_train, y_test = ms.train_test_split(X,Y,test_size=0.33, random_state=5)

In [56]:
model_knn = KNeighborsClassifier(n_neighbors=1)

In [57]:
model_knn.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=1, p=2,
           weights='uniform')

In [58]:
pred = model_knn.predict_proba(x_test)

In [59]:
plot_roc_curve(np.array(y_test), pred[:,1])

NameError: name 'plot_roc_curve' is not defined

# Imports do EDA

In [ ]:
# print da curva ROC
def plot_roc_curve(y_true, y_score, figsize=(10,6)):
    fpr, tpr, _ = roc_curve(y_true, y_score, pos_label=2)
    plt.figure(figsize=figsize)
    auc_value = roc_auc_score(y_true, y_score)
    plt.plot(fpr, tpr, color='orange', label='ROC curve (area = %0.2f)' % auc_value)
    plt.plot([0, 1], [0, 1], color='darkblue', linestyle='--')
    plt.xlabel('Taxa de falso positivo')
    plt.ylabel('Taxa de verdadeiro positivo')
    plt.title('Curva ROC')
    plt.legend()
    lt.show()

In [ ]:
#precision    recall  f1-score   support
print(classification_report(y_test, pred, labels=[1, 2, 3]))

In [ ]:
# AUC
print('AUC: %0.2f' % roc_auc_score(y_test, pred))

## Número de amostras de cade classe

In [ ]:
import seaborn as sns

In [ ]:
sns.set(rc={'figure.figsize':(11.7,8.27)})
sns.countplot(x = 'Class',data = textDataDrame)