In [1]:
import numpy as np
import pandas as pd
import os
from tqdm import tqdm

In [2]:
path = os.getcwd() + "/atribuna/milarquivos"
content_file_array = []
classifier_array = []

In [3]:
def read_text(path, file_Name):
    with open(path, encoding="latin-1") as file:
        content_file = file.read()
        Build_DataFrame(content_file, file_Name)

In [4]:
def Build_DataFrame(content_file, file_Name):
    classifier =  GetClassifier(file_Name) 
    if(len(classifier) >= 3):        
        classifier_array.append(classifier)
        content_file_array.append(content_file)

In [5]:
def GetClassifier(file_Name):
    name_split =  file_Name.split(".")
    first_name = name_split[0];
    return first_name[(len(first_name) - 3) : len(first_name)]

In [6]:
for file_Name in tqdm(os.listdir(path), desc="Carregar arquivos"):    
    if file_Name.endswith(".txt"):
        file_path = f"{path}/{file_Name}"
      
        # call read text file function
        read_text(file_path, file_Name)

Carregar arquivos: 100%|██████████| 62/62 [00:00<00:00, 1753.09it/s]

In [7]:
textDataDrame =  pd.DataFrame({"Text":content_file_array, "Class":classifier_array})

In [8]:
textDataDrame.head(10)

                                                Text Class
0  Testes nas famílias\n<b> A pedido de A Tribuna...   at2
1  Dirceu defende reeleição\n<b>  </b><br>\n <br>...   at2
2  Na praia, com muito charme\n<b> Já foi o tempo...   at2
3  Loucuras da moda verão\n<b> A convite do AT2, ...   at2
4  Pimenta nas madrugadas da TV paga\n<b>  </b><b...   at2
5  Testes nas famílias\n<b> A pedido de A Tribuna...   at2
6  \n<b>  </b><br>\n <br>\n <br><br><hr>\nData da...   at2
7  Deu borboleta na moda\n<b> A borboleta, que fo...   at2
8  rel\n<b>  </b><br>\n <br>\nEyshila louva a Deu...   at2
9  Jovem é morta por ciúme\n<b> Rutiléia não quer...   poc

# StopWords removing

In [9]:
#!conda install unidecode

import nltk
import unidecode
from bs4 import BeautifulSoup

# nltk.download()
#- averaged_perceptron_tagger
# - floresta
# - mac_morpho
# - machado
# - punkt
# - stopwords
# - wordnet
# - words

from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [10]:
def addStopWordsToList(texto):
    example_sent = texto
    word_tokens = word_tokenize(example_sent)

    filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]

    filtered_sentence = ""

    for w in word_tokens:
        if w not in stop_words:
            filtered_sentence += w + " "
    return filtered_sentence.strip()

In [11]:
stop_words = set(stopwords.words('portuguese'))
def returnDataFrameStopWords(dataFrame):
    dataReturn = pd.DataFrame()
    for row in tqdm(dataFrame.itertuples(index=True, name='Pandas'), desc="Limpeza de texto"):
        Text = row.Text
        Class = row.Class

        Text = BeautifulSoup(Text, "lxml").text
        Text = unidecode.unidecode(Text)
        Text = addStopWordsToList(Text)
        Text = Text.replace(" . "," ")
        Text = Text.replace(" , "," ")
        Text = Text.replace(" - "," ")
        Text = Text.replace(" : "," ")
        Text = Text.lower()

        linha = pd.Series([Text, Class])
        linha = pd.DataFrame([linha])
        dataReturn = pd.concat([linha, dataReturn], ignore_index=True)

    return dataReturn

In [12]:
df_text_clean = returnDataFrameStopWords(textDataDrame)

Limpeza de texto: 59it [00:00, 134.26it/s]

## Fatores de Ponderação

In [13]:
df_text_clean = df_text_clean.rename(columns = {0: 'Text', 1: 'Class'}, inplace = False)
df_text_clean.head()

                                                Text Class
0  adolescente afoga irmao 4 anos ribeirao preto ...   at2
1  chega dor-de-cotovelo com humor ironia livro t...   at2
2  velhinhas cara nova virou mania autores novela...   at2
3  hor [ os\\ data publicacao 13/12/2004 pagina e...   at2
4  tv zap nua 40 anos ? o estouro personagem nina...   at2

In [14]:
from sklearn.feature_extraction.text import TfidfTransformer # tf-idf
from sklearn.feature_extraction.text import CountVectorizer # tf

In [15]:
classes = []
for row in df_text_clean.itertuples(index=True, name='Pandas'):  
    if row.Class not in classes:
        classes.append(row.Class)
classes

['at2', 'sro', 'opi', 'esp', 'ept', 'poc', 'eco', 'pot']

In [16]:
 classes =  ["at2","sro","inf","imo","ept","esp","fam","tvt","cid","mul","pot","tav","mic","opi","poc","reg","eco","bro","cit","con","int"]

## TF

In [17]:
vectorizer = CountVectorizer()
TF = vectorizer.fit_transform(df_text_clean.Text)
features_names =  vectorizer.get_feature_names()

## TF-IDF

In [18]:
from sklearn.pipeline import Pipeline

In [19]:
pipe = Pipeline([('count', CountVectorizer(vocabulary=features_names)),
                 ('tfid', TfidfTransformer())]).fit(df_text_clean.Text)

In [20]:
lista_palavras = []
for row in tqdm(df_text_clean.itertuples(index=True, name='Pandas')):
    palavras = row.Text.split(" ")
    for palavra in palavras:
        if(not len(palavra) <= 2):
            if(palavra not in lista_palavras):
                lista_palavras.append(palavra)

59it [00:00, 84.43it/s]

# frequencia da palavra por documento

In [21]:
df_relacao_doc = pd.DataFrame()
df_relacao_doc['Index'] = lista_palavras

for i in tqdm(df_text_clean.index):
    doc = df_text_clean.iloc[i].Text
    
    lista_quant =[]
    
    for termo in lista_palavras:
        quant = doc.split(" ").count(termo)
        lista_quant.append(quant)
        
    df_relacao_doc[f'{i}'] = lista_quant
    
    
df_relacao_doc = df_relacao_doc.set_index('Index')
df_relacao_doc.head()

100%|██████████| 59/59 [00:07<00:00,  7.39it/s]

,0,1,2,3,4,5,6,7,8,9,...,49,50,51,52,53,54,55,56,57,58
Index,,,,,,,,,,,,,,,,,,,,,
adolescente,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
afoga,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
irmao,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
anos,2,1,0,0,4,0,4,2,2,0,...,0,0,4,0,3,0,12,1,2,3
ribeirao,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# frequencia palavra por classe

In [22]:
dic_doc_class = {}

for classe in tqdm(classes):
    lista_doc = []
    for row in df_text_clean.itertuples(index=True, name='Pandas'):  
        if (str(classe) == row.Class):
            lista_doc.append(row.Text)
    dic_doc_class[f'{classe}'] = lista_doc

100%|██████████| 21/21 [00:00<00:00, 3371.24it/s]

In [23]:
df_relacao_class = pd.DataFrame()
df_relacao_class['Index'] = lista_palavras
for key in tqdm(dic_doc_class):
    lista_docs =  dic_doc_class[key]
    docs = ""
    for doc in lista_docs:
        docs += f' {doc}'
        
    doc = docs
    
    lista_quant =[]
    
    for termo in lista_palavras:
        quant = doc.split(" ").count(termo)
        lista_quant.append(quant)
        
    df_relacao_class[f'{key}'] = lista_quant
    
    
df_relacao_class = df_relacao_class.set_index('Index')

100%|██████████| 21/21 [00:10<00:00,  2.00it/s]

In [24]:
df_relacao_class.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
adolescente,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
afoga,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
irmao,8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
anos,89,1,0,0,3,2,0,0,0,0,...,0,0,3,1,0,0,0,0,0,0
ribeirao,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# ni - o numero  de documentos em que um determinado termo ki aparece

In [25]:
dic_ni = {}

for termo in tqdm(lista_palavras):
    quant = 0 
    for row in df_text_clean.itertuples(index=True, name='Pandas'):
        doc = row.Text
        if(termo in doc):
            quant += 1
    dic_ni[f'{termo}'] = quant

100%|██████████| 6850/6850 [00:02<00:00, 2603.09it/s]

In [26]:
for i in sorted(dic_ni, key = dic_ni.get, reverse=True):
    print(f'key=>{i}, maior=>{dic_ni[i]}')
    break

key=>data, maior=>59

# a - quantidade de documentos que pertence a uma classe e posuem o termo ki

#  c - o numero  de documentos que pertencem a Cp, mas não possuem o termo ki

In [27]:
df_a = pd.DataFrame()
df_a['Index'] = lista_palavras

df_c = pd.DataFrame()
df_c['Index'] = lista_palavras

for key in tqdm(dic_doc_class):
    lista_docs =  dic_doc_class[key]
    lista_quant_a =[]
    lista_quant_c =[]

    for termo in lista_palavras:
        quant_a = 0
        quant_c = 0
        
        for doc in lista_docs:
            if(termo in doc):
                quant_a += 1
            else:
                quant_c += 1
                
        lista_quant_a.append(quant_a)
        lista_quant_c.append(quant_c)
        
    df_a[f'{key}'] = lista_quant_a
    df_c[f'{key}'] = lista_quant_c
    
    
df_a = df_a.set_index('Index')
df_c = df_c.set_index('Index')

100%|██████████| 21/21 [00:00<00:00, 21.42it/s]

# df_a

In [28]:
df_a.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
adolescente,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
afoga,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
irmao,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
anos,29,1,0,0,1,2,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
ribeirao,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# df_c

In [29]:
df_c.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
adolescente,46,2,0,0,3,2,0,0,0,0,...,0,0,1,2,0,1,0,0,0,0
afoga,46,2,0,0,3,2,0,0,0,0,...,0,0,1,2,0,1,0,0,0,0
irmao,43,2,0,0,3,2,0,0,0,0,...,0,0,1,2,0,1,0,0,0,0
anos,18,1,0,0,2,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,0
ribeirao,46,2,0,0,3,2,0,0,0,0,...,0,0,1,2,0,1,0,0,0,0

# b - a quantidade de documentos que possuem o termo ki, mas não pertence a Cp

In [30]:
df_b = pd.DataFrame()
df_b['Index'] = lista_palavras

df_d = pd.DataFrame()
df_d['Index'] = lista_palavras

for key in tqdm(dic_doc_class):
    lista_quant_b =[]
    lista_quant_d =[]
    
    for termo in lista_palavras:
        quant_b = 0
        quant_d = 0
        for classe in classes:
            if(classe != key):
                lista_docs =  dic_doc_class[classe]
                
                for doc in lista_docs:
                    if(termo in doc):
                        quant_b += 1
                    else:
                        quant_d += 1
                        
        lista_quant_b.append(quant_b)
        lista_quant_d.append(quant_d)
        
    df_b[f'{key}'] = lista_quant_b
    df_d[f'{key}'] = lista_quant_d
    
df_b = df_b.set_index('Index')
df_d = df_d.set_index('Index')

100%|██████████| 21/21 [00:18<00:00,  1.15it/s]

# df_b

In [31]:
df_b.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
adolescente,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
afoga,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
irmao,0,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
anos,6,34,35,35,34,33,35,35,35,35,...,35,35,34,34,35,35,35,35,35,35
ribeirao,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

# df_d

In [32]:
df_d.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
adolescente,12,56,58,58,55,56,58,58,58,58,...,58,58,57,56,58,57,58,58,58,58
afoga,12,56,58,58,55,56,58,58,58,58,...,58,58,57,56,58,57,58,58,58,58
irmao,12,53,55,55,52,53,55,55,55,55,...,55,55,54,53,55,54,55,55,55,55
anos,6,23,24,24,22,24,24,24,24,24,...,24,24,24,23,24,23,24,24,24,24
ribeirao,12,56,58,58,55,56,58,58,58,58,...,58,58,57,56,58,57,58,58,58,58

## ICF

In [33]:
import math

In [34]:
def get_row_class(row, classe):
    dic_classe = {
        'at2':row.at2,
        'sro':row.sro,
        'inf':row.inf,
        'imo':row.imo,
        'ept':row.ept,
        'esp':row.esp,
        'fam':row.fam,
        'tvt':row.tvt,
        'cid':row.cid,
        'mul':row.mul,
        'pot':row.pot,
        'tav':row.tav,
        'mic':row.mic,
        'opi':row.opi,
        'poc':row.poc,
        'reg':row.reg,
        'eco':row.eco,
        'bro':row.bro,
        'cit':row.cit,
        'con':row.con,
        'int':row.int
    }
    return dic_classe[f'{classe}']

In [35]:
# conta quantas classes o termo ki aparece
def num_ki_em_categoria():

    dic_num_ki_em_categoria ={}
    for row in tqdm(df_relacao_class.itertuples(index=True, name='Pandas')):
        ci = 0
        for classe in classes:
            if get_row_class(row,classe)!= 0:
                ci += 1
        dic_num_ki_em_categoria[f'{row.Index}'] = ci
        
    return dic_num_ki_em_categoria

# Bag of Word

In [36]:
bag_of_word = {}
bag_of_word['a'] = df_a
bag_of_word['b'] = df_b
bag_of_word['c'] = df_c
bag_of_word['d'] = df_d
bag_of_word['freq_pal_class'] = df_relacao_class
bag_of_word['freq_pal_doc'] = df_relacao_doc
bag_of_word['ci'] = num_ki_em_categoria()
bag_of_word['ni'] = dic_ni

6850it [00:00, 38339.16it/s]

In [37]:
def calculeteICF():
    dic_num_ki_em_categoria = bag_of_word['ci']
    icfs = {}
    C = len(classes)
    for key in dic_num_ki_em_categoria:
        Ci = dic_num_ki_em_categoria[key]
        valor = math.log((1 + (C/Ci)))
        icfs[f'{key}'] = valor
    return icfs

In [38]:
icfs = calculeteICF() 
icfs

{'adolescente': 3.091042453358316,
 'afoga': 3.091042453358316,
 'irmao': 3.091042453358316,
 'anos': 1.5040773967762742,
 'ribeirao': 3.091042453358316,
 'preto': 3.091042453358316,
 'recolhido': 3.091042453358316,
 'cela': 3.091042453358316,
 'cadeia': 3.091042453358316,
 'pedregulho': 3.091042453358316,
 'interior': 3.091042453358316,
 'paulista': 3.091042453358316,
 'apos': 3.091042453358316,
 'ser': 1.8325814637483102,
 'acusado': 2.4423470353692043,
 'matar': 3.091042453358316,
 'criacao': 2.4423470353692043,
 'david': 3.091042453358316,
 'rocha': 2.4423470353692043,
 'silva': 2.4423470353692043,
 'garoto': 3.091042453358316,
 'morreu': 2.4423470353692043,
 'afogado': 3.091042453358316,
 'lagoa': 3.091042453358316,
 'tarde': 2.4423470353692043,
 'ultima': 1.8325814637483102,
 'sexta-feira': 3.091042453358316,
 'mae': 1.8325814637483102,
 'casada': 3.091042453358316,
 'pai': 2.4423470353692043,
 'crime': 2.4423470353692043,
 'desde': 2.4423470353692043,
 'ano': 1.8325814637483102,
 'passado': 2.4423470353692043,
 'inicialmente': 3.091042453358316,
 'disse': 1.3862943611198906,
 'menino': 2.0794415416798357,
 'depoimento': 2.0794415416798357,
 'policia': 1.8325814637483102,
 'confessou': 2.4423470353692043,
 'matou': 2.4423470353692043,
 'porque': 1.8325814637483102,
 'xingava': 3.091042453358316,
 'data': 1.2878542883066382,
 'publicacao': 1.2878542883066382,
 '14/11/2005': 3.091042453358316,
 'pagina': 1.2878542883066382,
 'editoria': 1.2878542883066382,
 'at2': 3.091042453358316,
 'chega': 2.0794415416798357,
 'dor-de-cotovelo': 3.091042453358316,
 'com': 1.8325814637483102,
 'humor': 3.091042453358316,
 'ironia': 3.091042453358316,
 'livro': 2.4423470353692043,
 'traz': 3.091042453358316,
 'guia': 3.091042453358316,
 'mulheres': 1.8325814637483102,
 'nao': 1.2878542883066382,
 'querem': 2.4423470353692043,
 'curtir': 3.091042453358316,
 'fossa': 3.091042453358316,
 'fim': 3.091042453358316,
 'namoro': 3.091042453358316,
 'maira': 3.091042453358316,
 'piccin': 3.091042453358316,
 'ate': 1.3862943611198906,
 'poderosas': 3.091042453358316,
 'levaram': 3.091042453358316,
 'amor': 3.091042453358316,
 'portanto': 3.091042453358316,
 'garotas': 3.091042453358316,
 'preciso': 2.0794415416798357,
 'entrar': 2.0794415416798357,
 'disfarcadas': 3.091042453358316,
 'livraria': 3.091042453358316,
 'comprar': 2.4423470353692043,
 'estou': 3.091042453358316,
 'otima': 3.091042453358316,
 'como': 2.0794415416798357,
 'sobreviver': 3.091042453358316,
 '100': 2.4423470353692043,
 'primeiros': 2.4423470353692043,
 'dias': 1.8325814637483102,
 'depois': 1.8325814637483102,
 'levar': 2.4423470353692043,
 'fora': 3.091042453358316,
 'sua': 1.8325814637483102,
 'vida': 2.0794415416798357,
 'lancamento': 3.091042453358316,
 'editora': 3.091042453358316,
 'jaboticaba': 3.091042453358316,
 'bom-humor': 3.091042453358316,
 'publicitaria': 3.091042453358316,
 'americana': 3.091042453358316,
 'mandana': 3.091042453358316,
 'hoveyda': 3.091042453358316,
 'traca': 3.091042453358316,
 'plano': 3.091042453358316,
 'emergencia': 3.091042453358316,
 'diario': 3.091042453358316,
 'tirar': 2.4423470353692043,
 'qualquer': 2.4423470353692043,
 'ex-namorada': 3.091042453358316,
 'mesmo': 3.091042453358316,
 'vezes': 2.0794415416798357,
 'pregue': 3.091042453358316,
 'politicamente': 3.091042453358316,
 'incorreto': 3.091042453358316,
 'dicas': 3.091042453358316,
 'vao': 2.4423470353692043,
 'simples': 2.4423470353692043,
 'obrigatorias': 3.091042453358316,
 'levantar': 3.091042453358316,
 'trabalhar': 3.091042453358316,
 'deixar': 2.4423470353692043,
 'ler': 2.4423470353692043,
 'e-mails': 3.091042453358316,
 'bonitinhos': 3.091042453358316,
 'mandava': 3.091042453358316,
 'ligar': 2.4423470353692043,
 'terapeuta': 3.091042453358316,
 'parar': 3.091042453358316,
 'procurar': 2.4423470353692043,
 'ousadas': 3.091042453358316,
 'farao': 3.091042453358316,
 'danado': 3.091042453358316,
 'sentir': 3.091042453358316,
 'pouco': 1.8325814637483102,
 'ira': 2.4423470353692043,
 'mandar': 3.091042453358316,
 'assinatura': 3.091042453358316,
 'revista': 3.091042453358316,
 'sacanagem': 3.091042453358316,
 'endereco': 3.091042453358316,
 'trabalho': 2.4423470353692043,
 'mas': 1.3862943611198906,
 'maior': 1.8325814637483102,
 'tristeza': 3.091042453358316,
 'rancor': 3.091042453358316,
 'mulher': 2.0794415416798357,
 'abandonada': 3.091042453358316,
 'autora': 3.091042453358316,
 'orienta': 3.091042453358316,
 'nunca': 3.091042453358316,
 'provas': 2.0794415416798357,
 'concretas': 3.091042453358316,
 'contra': 2.4423470353692043,
 'cartas': 3.091042453358316,
 'malcriadas': 3.091042453358316,
 'afinal': 3.091042453358316,
 'poderia': 2.0794415416798357,
 'faze-la': 3.091042453358316,
 'pagar': 2.4423470353692043,
 'micos': 3.091042453358316,
 'futuros': 3.091042453358316,
 'advogada': 3.091042453358316,
 'heloisa': 3.091042453358316,
 'alves': 3.091042453358316,
 'tipo': 2.0794415416798357,
 'precisa': 3.091042453358316,
 'manual': 2.4423470353692043,
 'nenhum': 2.4423470353692043,
 'aprontar': 3.091042453358316,
 'ela': 2.0794415416798357,
 'lembra': 3.091042453358316,
 'vez': 1.8325814637483102,
 'mandou': 3.091042453358316,
 'coroa': 3.091042453358316,
 'funebre': 3.091042453358316,
 'ex-namorado': 3.091042453358316,
 'ele': 1.8325814637483102,
 'recebeu': 3.091042453358316,
 'presente': 3.091042453358316,
 'empresa': 3.091042453358316,
 'onde': 1.8325814637483102,
 'trabalhava': 2.4423470353692043,
 'fita': 3.091042453358316,
 'escrito': 3.091042453358316,
 'aqui': 2.0794415416798357,
 'jaz': 3.091042453358316,
 'canalha': 3.091042453358316,
 'terror': 2.0794415416798357,
 'telefonistas': 3.091042453358316,
 'referencia': 3.091042453358316,
 'saindo': 3.091042453358316,
 'fez': 2.4423470353692043,
 'momento': 2.4423470353692043,
 'muita': 2.4423470353692043,
 'raiva': 3.091042453358316,
 'voltou': 3.091042453358316,
 'procura-lo': 3.091042453358316,
 'fico': 3.091042453358316,
 'triste': 3.091042453358316,
 'emagreco': 3.091042453358316,
 'ignoro': 3.091042453358316,
 'dou': 2.4423470353692043,
 'braco': 2.4423470353692043,
 'torcer': 3.091042453358316,
 'vinganca': 3.091042453358316,
 'leva': 3.091042453358316,
 'nada': 2.4423470353692043,
 'melhor': 2.4423470353692043,
 'preocupar': 3.091042453358316,
 'apenas': 1.6486586255873816,
 'consigo': 2.4423470353692043,
 'mesma': 2.4423470353692043,
 'cercar': 3.091042453358316,
 'amigos': 2.4423470353692043,
 'investir': 3.091042453358316,
 'sapatos': 3.091042453358316,
 'roupas': 3.091042453358316,
 'novas': 2.4423470353692043,
 'vestido': 3.091042453358316,
 'rosa-choque': 3.091042453358316,
 'voce': 1.8325814637483102,
 'vai': 1.6486586255873816,
 'usar': 3.091042453358316,
 'sao': 1.3862943611198906,
 'bem': 1.5040773967762742,
 'conhecidas': 3.091042453358316,
 'muitas': 1.8325814637483102,
 'passaram': 3.091042453358316,
 'situacao': 3.091042453358316,
 'tecnica': 3.091042453358316,
 'radiologia': 3.091042453358316,
 'angela': 3.091042453358316,
 'rodrigues': 3.091042453358316,
 'bezerra': 3.091042453358316,
 'diz': 2.4423470353692043,
 'melhores': 2.4423470353692043,
 'remedios': 2.4423470353692043,
 'estar': 2.0794415416798357,
 'sempre': 1.6486586255873816,
 'rodeada': 3.091042453358316,
 'amiga': 3.091042453358316,
 'patricia': 3.091042453358316,
 'felix': 3.091042453358316,
 'martins': 3.091042453358316,
 'sair': 1.6486586255873816,
 'bastante': 2.0794415416798357,
 'voltar': 3.091042453358316,
 'prateleira': 3.091042453358316,
 'brinca': 3.091042453358316,
 'moca': 3.091042453358316,
 'domingo': 3.091042453358316,
 'estudante': 3.091042453358316,
 'greicy': 3.091042453358316,
 'teixeira': 3.091042453358316,
 'goncalves': 3.091042453358316,
 'conta': 1.8325814637483102,
 'namorado': 3.091042453358316,
 'colocou': 3.091042453358316,
 'ponto': 2.4423470353692043,
 'final': 2.0794415416798357,
 'relacao': 2.4423470353692043,
 'tres': 1.8325814637483102,
 'ficou': 2.4423470353692043,
 'tao': 2.4423470353692043,
 'pra': 3.091042453358316,
 'baixo': 3.091042453358316,
 'queria': 2.4423470353692043,
 'casa': 1.3862943611198906,
 'recorrer': 2.4423470353692043,
 'terapia': 3.091042453358316,
 'paralelo': 3.091042453358316,
 'medida': 3.091042453358316,
 'passou': 2.0794415416798357,
 'fazer': 2.0794415416798357,
 'tudo': 2.0794415416798357,
 'ocupar': 2.0794415416798357,
 'mente': 2.4423470353692043,
 'entrou': 2.0794415416798357,
 'faculdade': 3.091042453358316,
 'academia': 3.091042453358316,
 'ginastica': 3.091042453358316,
 'shopping': 3.091042453358316,
 'semana': 1.8325814637483102,
 'saia': 3.091042453358316,
 'mao': 3.091042453358316,
 'abanando': 3.091042453358316,
 'recorda': 3.091042453358316,
 'secretaria': 3.091042453358316,
 'salario': 3.091042453358316,
 'todo': 2.0794415416798357,
 'saidas': 2.4423470353692043,
 'umas': 3.091042453358316,
 'quatro': 2.4423470353692043,
 'cabeca': 2.4423470353692043,
 'cheia': 2.4423470353692043,
 'encheu': 3.091042453358316,
 'guarda-roupa': 3.091042453358316,
 'adiantou': 3.091042453358316,
 'aquilo': 3.091042453358316,
 'ocupava': 3.091042453358316,
 'consciencia': 3.091042453358316,
 'tempo': 2.0794415416798357,
 'curar': 2.4423470353692043,
 'melhorei': 3.091042453358316,
 'dei': 3.091042453358316,
 'vale': 2.4423470353692043,
 'pena': 3.091042453358316,
 'sofrer': 3.091042453358316,
 'pessoa': 1.8325814637483102,
 'quer': 2.0794415416798357,
 'servico': 3.091042453358316,
 'preco': 2.4423470353692043,
 '29,00': 3.091042453358316,
 'paginas': 3.091042453358316,
 '208': 3.091042453358316,
 'psicologa': 2.4423470353692043,
 'fugir': 3.091042453358316,
 'papel': 3.091042453358316,
 'vitima': 2.4423470353692043,
 'adeus': 3.091042453358316,
 'agora': 1.8325814637483102,
 'pergunta': 3.091042453358316,
 'calar': 3.091042453358316,
 'fiz': 3.091042453358316,
 'errado': 2.4423470353692043,
 'margarete': 3.091042453358316,
 'fila': 3.091042453358316,
 'comenta': 3.091042453358316,
 'principalmente': 2.4423470353692043,
 'sentimento': 3.091042453358316,
 'culpa': 3.091042453358316,
 'comum': 2.4423470353692043,
 'livrar-se': 3.091042453358316,
 'sintam': 3.091042453358316,
 'ainda': 1.3862943611198906,
 'deprimidas': 3.091042453358316,
 'segundo': 1.6486586255873816,
 'levou': 2.4423470353692043,
 'lembrar': 2.4423470353692043,
 'unico': 2.4423470353692043,
 'culpado': 3.091042453358316,
 'abandona': 3.091042453358316,
 'outra': 3.091042453358316,
 'forca': 2.0794415416798357,
 'carregar': 3.091042453358316,
 'relacionamento': 3.091042453358316,
 'entra': 3.091042453358316,
 'processo': 2.4423470353692043,
 'auto-piedade': 3.091042453358316,
 'vitimizacao': 3.091042453358316,
 'contribui': 3.091042453358316,
 'aumentar': 3.091042453358316,
 'dor': 3.091042453358316,
 'baixar': 3.091042453358316,
 'auto-estima': 3.091042453358316,
 'tem-se': 3.091042453358316,
 'vivenciar': 3.091042453358316,
 'alimenta-la': 3.091042453358316,
 'chorar': 3.091042453358316,
 'botar': 3.091042453358316,
 'ficar': 2.0794415416798357,
 'falando': 2.4423470353692043,
 'coisas': 2.0794415416798357,
 'sorte': 2.4423470353692043,
 '01/05/2005': 3.091042453358316,
 'velhinhas': 3.091042453358316,
 'cara': 3.091042453358316,
 'nova': 2.4423470353692043,
 'virou': 3.091042453358316,
 'mania': 3.091042453358316,
 'autores': 3.091042453358316,
 'novelas': 3.091042453358316,
 'remakes': 3.091042453358316,
 'tramas': 3.091042453358316,
 'fizeram': 3.091042453358316,
 'sucesso': 3.091042453358316,
 'tribuna': 1.6486586255873816,
 'para': 1.6486586255873816,
 'gente': 1.8325814637483102,
 'releitura': 3.091042453358316,
 'classicos': 3.091042453358316,
 'teledramaturgia': 3.091042453358316,
 'soa': 3.091042453358316,
 'falta': 2.0794415416798357,
 'criatividade': 3.091042453358316,
 'assim': 1.8325814637483102,
 'cresce': 3.091042453358316,
 'quantidade': 3.091042453358316,
 'dispostos': 3.091042453358316,
 'adotar': 3.091042453358316,
 'estrategia': 2.4423470353692043,
 'foi': 2.0794415416798357,
 'justamente': 3.091042453358316,
 'remake': 3.091042453358316,
 'escrava': 3.091042453358316,
 'isaura': 3.091042453358316,
 'record': 3.091042453358316,
 'melhorar': 2.4423470353692043,
 'audiencia': 3.091042453358316,
 'tanto': 2.0794415416798357,
 'terminar': 3.091042453358316,
 'trama': 3.091042453358316,
 'autor': 3.091042453358316,
 'tiago': 3.091042453358316,
 'santiago': 3.091042453358316,
 'preparar': 3.091042453358316,
 'outro': 1.6486586255873816,
 'provavel': 3.091042453358316,
 'reciclada': 3.091042453358316,
 'pequena': 3.091042453358316,
 'orfa': 3.091042453358316,
 'filho': 2.4423470353692043,
 'exibida': 3.091042453358316,
 '1968': 3.091042453358316,
 'extinta': 3.091042453358316,
 'excelsior': 3.091042453358316,
 'versao': 2.4423470353692043,
 'provoque': 3.091042453358316,
 'emocao': 2.4423470353692043,
 'anterior': 2.4423470353692043,
 'segredo': 3.091042453358316,
 'reescrever': 3.091042453358316,
 'possivel': 3.091042453358316,
 'criar': 3.091042453358316,
 'novos': 2.4423470353692043,
 'personagens': 3.091042453358316,
 'benedito': 2.4423470353692043,
 'ruy': 3.091042453358316,
 'barbosa': 3.091042453358316,
 'segue': 3.091042453358316,
 'moldes': 3.091042453358316,
 'inversos': 3.091042453358316,
 'costuma': 3.091042453358316,
 'mexer': 3.091042453358316,
 'enredo': 3.091042453358316,
 'cabocla': 3.091042453358316,
 'bonito': 3.091042453358316,
 '2004': 3.091042453358316,
 'horario': 3.091042453358316,
 'seis': 2.0794415416798357,
 'globo': 3.091042453358316,
 'media': 2.4423470353692043,
 'pontos': 2.0794415416798357,
 'unica': 3.091042453358316,
 'coisa': 2.4423470353692043,
 'faz': 2.4423470353692043,
 'dar': 1.8325814637483102,
 'apimentada': 3.091042453358316,
 'assuntos': 2.4423470353692043,
 'podia': 2.4423470353692043,
 'antigamente': 3.091042453358316,
 'politica': 2.0794415416798357,
 'embora': 2.4423470353692043,
 'siga': 3.091042453358316,
 'mesmos': 3.091042453358316,
 'padroes': 3.091042453358316,
 'proximo': 3.091042453358316,
 'escolhido': 3.091042453358316,
 'devido': 3.091042453358316,
 'alma': 3.091042453358316,
 'gemea': 3.091042453358316,
 'proxima': 2.4423470353692043,
 'novela': 3.091042453358316,
 'walcyr': 3.091042453358316,
 'carrasco': 3.091042453358316,
 'estreara': 3.091042453358316,
 'sinha': 3.091042453358316,
 'inspirada': 3.091042453358316,
 'romance': 3.091042453358316,
 'maria': 2.4423470353692043,
 'dezonne': 3.091042453358316,
 'passa': 2.4423470353692043,
 'epoca': 2.4423470353692043,
 'abolicao': 3.091042453358316,
 'escravatura': 3.091042453358316,
 'produzir': 3.091042453358316,
 'tambem': 1.3862943611198906,
 'corriqueiro': 2.4423470353692043,
 'sbt': 3.091042453358316,
 'projeto': 2.0794415416798357,
 'emissora': 3.091042453358316,
 'silvio': 3.091042453358316,
 'santos': 2.4423470353692043,
 'adaptacao': 3.091042453358316,
 'ricos': 3.091042453358316,
 'choram': 3.091042453358316,
 '1982': 3.091042453358316,
 'substituir': 3.091042453358316,
 'esmeralda': 3.091042453358316,
 'termina': 3.091042453358316,
 'junho': 3.091042453358316,
 'esta': 2.4423470353692043,
 'inclusive': 3.091042453358316,
 'pioneira': 3.091042453358316,
 'mexicanas': 3.091042453358316,
 'importadas': 3.091042453358316,
 'quem': 3.091042453358316,
 'comeca': 2.4423470353692043,
 'ver': 2.0794415416798357,
 'bons': 2.4423470353692043,
 'olhos': 3.091042453358316,
 'carlos': 3.091042453358316,
 'lombardi': 3.091042453358316,
 'manoel': 3.091042453358316,
 'sucessora': 3.091042453358316,
 'falar': 3.091042453358316,
 'interesse': 2.4423470353692043,
 'escrever': 3.091042453358316,
 'deu': 2.4423470353692043,
 'certo': 2.4423470353692043,
 'proprio': 3.091042453358316,
 'deseja': 3.091042453358316,
 'refazer': 3.091042453358316,
 'por': 2.0794415416798357,
 'disso': 2.0794415416798357,
 'parte': 1.8325814637483102,
 'planos': 3.091042453358316,
 'alguma': 3.091042453358316,
 'ivani': 3.091042453358316,
 'ribeiro': 3.091042453358316,
 'alias': 3.091042453358316,
 'revisitada': 3.091042453358316,
 'brasileira': 2.4423470353692043,
 'contabiliza': 3.091042453358316,
 'refilmagens': 3.091042453358316,
 'viagem': 3.091042453358316,
 'indomavel': 3.091042453358316,
 'deusa': 3.091042453358316,
 'vencida': 3.091042453358316,
 'entre': 2.4423470353692043,
 'obras': 3.091042453358316,
 'duvida': 3.091042453358316,
 'profeta': 3.091042453358316,
 'inocentes': 3.091042453358316,
 '26/04/2005': 3.091042453358316,
 'hor': 3.091042453358316,
 'os\\\\': 3.091042453358316,
 '13/12/2004': 3.091042453358316,
 'zap': 3.091042453358316,
 'nua': 3.091042453358316,
 'estouro': 3.091042453358316,
 'personagem': 3.091042453358316,
 'nina': 2.4423470353692043,
 'america': 3.091042453358316,
 'invejavel': 3.091042453358316,
 'forma': 3.091042453358316,
 'fisica': 3.091042453358316,
 'cissa': 3.091042453358316,
 'guimaraes': 3.091042453358316,
 'exibe': 3.091042453358316,
 'serviram': 3.091042453358316,
 'chamar': 2.4423470353692043,
 'atencao': 2.0794415416798357,
 'publicacoes': 3.091042453358316,
 'masculinas': 3.091042453358316,
 'atriz': 3.091042453358316,
 'famosa': 2.4423470353692043,
 'estao': 1.8325814637483102,
 'indica': 3.091042453358316,
 'pode': 1.8325814637483102,
 'acabar': 3.091042453358316,
 'casamento': 3.091042453358316,
 'sem': 3.091042453358316,
 'citar': 3.091042453358316,
 'nome': 2.4423470353692043,
 'dando': 3.091042453358316,
 'entender': 2.4423470353692043,
 'trata': 2.4423470353692043,
 'sexy': 3.091042453358316,
 'afirma': 3.091042453358316,
 'disposta': 3.091042453358316,
 'encarar': 3.091042453358316,
 'lentes': 3.091042453358316,
 'estamos': 2.4423470353692043,
 'negociacao': 3.091042453358316,
 'sabe': 2.0794415416798357,
 'fechamos': 3.091042453358316,
 'negocio': 3.091042453358316,
 'garantiu': 2.4423470353692043,
 'interessada': 3.091042453358316,
 'passando': 2.4423470353692043,
 'reformulacao': 3.091042453358316,
 'editorial': 3.091042453358316,
 'ter': 1.5040773967762742,
 'estrelas': 3.091042453358316,
 'nivel': 3.091042453358316,
 'concorrente': 3.091042453358316,
 'playboy': 3.091042453358316,
 'strip-tease': 3.091042453358316,
 'reynaldo': 3.091042453358316,
 'gianecchini': 3.091042453358316,
 'apimenta': 3.091042453358316,
 'edicao': 2.4423470353692043,
 'aniversario': 3.091042453358316,
 'deste': 2.4423470353692043,
 'mes': 1.6486586255873816,
 'ensaio': 3.091042453358316,
 'exclusivo': 3.091042453358316,
 'primeira': 1.6486586255873816,
 'leitoras': 3.091042453358316,
 'verem': 3.091042453358316,
 'deliciarem': 3.091042453358316,
 'auge': 3.091042453358316,
 'boa': 1.6486586255873816,
 'gala': 3.091042453358316,
 'revela': 2.4423470353692043,
 'outras': 2.0794415416798357,
 'sensual': 3.091042453358316,
 'segura': 3.091042453358316,
 'usa': 2.4423470353692043,
 'salto': 3.091042453358316,
 'alto': 2.4423470353692043,
 'loucura': 3.091042453358316,
 'visita': 3.091042453358316,
 'presenca': 2.4423470353692043,
 'dupla': 2.0794415416798357,
 'sandy': 3.091042453358316,
 'junior': 3.091042453358316,
 'projac': 3.091042453358316,
 'especificamente': 3.091042453358316,
 'estudios': 3.091042453358316,
 'gravada': 3.091042453358316,
 'lua': 3.091042453358316,
 'levantaram': 3.091042453358316,
 'suspeitas': 3.091042453358316,
 'sobre': 1.8325814637483102,
 'participacao': 3.091042453358316,
 'cantores': 3.091042453358316,
 'miguel': 3.091042453358316,
 'falabella': 3.091042453358316,
 'logo': 2.0794415416798357,
 'verdade': 3.091042453358316,
 'veio': 2.4423470353692043,
 'tona': 3.091042453358316,
 'passavam': 3.091042453358316,
 'local': 2.4423470353692043,
 'decidiram': 3.091042453358316,
 'fernanda': 3.091042453358316,
 'jogadora': 3.091042453358316,
 'futebol': 3.091042453358316,
 'julieta': 3.091042453358316,
 'global': 3.091042453358316,
 'hospital': 2.4423470353692043,
 'priscila': 3.091042453358316,
 'fantin': 3.091042453358316,
 'barra': 2.4423470353692043,
 'rio': 3.091042453358316,
 'janeiro': 2.4423470353692043,
 'manha': 2.0794415416798357,
 'segunda-feira': 2.4423470353692043,
 'fortes': 3.091042453358316,

In [39]:
df_icf = pd.DataFrame()
df_icf['Index'] = df_text_clean.index

for termo in tqdm(lista_palavras):
    
    list_icfs = []
    
    for i in df_text_clean.index:
        doc = df_text_clean.iloc[i].Text
        if termo in doc.split(" "):
            list_icfs.append(icfs[termo])
        else:
            list_icfs.append(0)
    
    df_icf[f'{termo}'] = list_icfs
    
df_icf = df_icf.set_index('Index')

100%|██████████| 6850/6850 [00:48<00:00, 142.34it/s]

In [40]:
df_icf

,adolescente,afoga,irmao,anos,ribeirao,preto,recolhido,cela,cadeia,pedregulho,...,aliada,concedeu,jornalistas,espanhois,folha,negado,repetiu,abordado,08/06/2005,04/06/2006
Index,,,,,,,,,,,,,,,,,,,,,
0,3.091042,3.091042,3.091042,1.504077,3.091042,3.091042,3.091042,3.091042,3.091042,3.091042,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
10,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
12,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
14,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
18,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
19,0.000000,0.000000,3.091042,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
22,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
24,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
26,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
27,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
28,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
29,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
30,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
31,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
32,0.000000,0.000000,3.091042,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
33,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
34,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
35,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
36,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
37,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
38,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
39,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
40,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
41,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
42,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
43,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
44,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
45,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
46,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
47,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
48,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
49,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
51,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
52,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
53,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
54,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
55,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
56,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
57,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.091042,3.091042,3.091042,3.091042,3.091042,3.091042,3.091042,3.091042,3.091042,0.000000
58,0.000000,0.000000,0.000000,1.504077,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.091042

## X²

In [63]:
qui_quadrado = pd.DataFrame()
qui_quadrado['Index'] = lista_palavras

for classe in tqdm(classes):
    lista_valores = []
    for termo in lista_palavras:
        a = bag_of_word['a'].loc[termo, classe]
        b = bag_of_word['b'].loc[termo, classe]
        c = bag_of_word['c'].loc[termo, classe]
        d = bag_of_word['d'].loc[termo, classe]
        
        numerador = (len(df_text_clean) * math.pow(((a * d) - (c * d)), 2))
        denominador = ((a + c) * (b + d) * (a + b) * (c + d))

        if (numerador == 0):
            value = 0
        else:
            value = numerador/denominador

        lista_valores.append(value)

    qui_quadrado[f'{classe}'] = lista_valores

qui_quadrado = qui_quadrado.set_index('Index')

100%|██████████| 21/21 [00:04<00:00,  4.58it/s]

In [65]:
qui_quadrado

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
adolescente,525.935437,111.932244,0,0,164.847599,111.932244,0,0,0,0,...,0,0,56.983056,111.932244,0,56.983056,0,0,0,0
afoga,525.935437,111.932244,0,0,164.847599,111.932244,0,0,0,0,...,0,0,56.983056,111.932244,0,56.983056,0,0,0,0
irmao,104.145841,26.432376,0,0,38.848052,26.432376,0,0,0,0,...,0,0,13.483072,26.432376,0,13.483072,0,0,0,0
anos,0.542477,0.000000,0,0,0.202353,1.419549,0,0,0,0,...,0,0,0.697537,0.000000,0,0.640620,0,0,0,0
ribeirao,525.935437,111.932244,0,0,164.847599,111.932244,0,0,0,0,...,0,0,56.983056,111.932244,0,56.983056,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
negado,525.935437,111.932244,0,0,164.847599,111.932244,0,0,0,0,...,0,0,56.983056,111.932244,0,56.983056,0,0,0,0
repetiu,525.935437,111.932244,0,0,164.847599,111.932244,0,0,0,0,...,0,0,56.983056,111.932244,0,56.983056,0,0,0,0
abordado,525.935437,111.932244,0,0,164.847599,111.932244,0,0,0,0,...,0,0,56.983056,111.932244,0,56.983056,0,0,0,0
08/06/2005,525.935437,111.932244,0,0,164.847599,111.932244,0,0,0,0,...,0,0,56.983056,111.932244,0,56.983056,0,0,0,0
04/06/2006,525.935437,111.932244,0,0,164.847599,111.932244,0,0,0,0,...,0,0,56.983056,111.932244,0,56.983056,0,0,0,0

## Machine Learning

### KNN

In [43]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score, roc_curve,classification_report,r2_score
from sklearn import model_selection as ms
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

In [44]:
le = LabelEncoder()

In [45]:
def toNumeric(nome_coluna, coluna):
    df_text_clean[nome_coluna] = le.fit_transform (coluna)

In [46]:
toNumeric('numeric_class',df_text_clean.Class)

In [47]:
# features
X = TF

In [48]:
#response
Y = df_text_clean['numeric_class'].copy()

In [49]:
x_train, x_test, y_train, y_test = ms.train_test_split(X,Y,test_size=0.33, random_state=5)

In [50]:
model_knn = KNeighborsClassifier(n_neighbors=1)

In [51]:
model_knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=1)

In [52]:
pred = model_knn.predict_proba(x_test)

In [53]:
plot_roc_curve(np.array(y_test), pred[:,1])

NameError: name 'plot_roc_curve' is not defined

# Imports do EDA

In [ ]:
# print da curva ROC
def plot_roc_curve(y_true, y_score, figsize=(10,6)):
    fpr, tpr, _ = roc_curve(y_true, y_score, pos_label=2)
    plt.figure(figsize=figsize)
    auc_value = roc_auc_score(y_true, y_score)
    plt.plot(fpr, tpr, color='orange', label='ROC curve (area = %0.2f)' % auc_value)
    plt.plot([0, 1], [0, 1], color='darkblue', linestyle='--')
    plt.xlabel('Taxa de falso positivo')
    plt.ylabel('Taxa de verdadeiro positivo')
    plt.title('Curva ROC')
    plt.legend()
    lt.show()

In [ ]:
#precision    recall  f1-score   support
print(classification_report(y_test, pred, labels=[1, 2, 3]))

In [ ]:
# AUC
print('AUC: %0.2f' % roc_auc_score(y_test, pred))

## Número de amostras de cade classe

In [ ]:
import seaborn as sns

In [ ]:
sns.set(rc={'figure.figsize':(11.7,8.27)})
sns.countplot(x = 'Class',data = textDataDrame)