In [9]:
import numpy as np
import pandas as pd
import os
from tqdm import tqdm

In [10]:
path = os.getcwd() + "/atribuna/milarquivos"
content_file_array = []
classifier_array = []

## Construção do DataFrame

In [11]:
def read_text(path, file_Name):
    with open(path, encoding="latin-1") as file:
        content_file = file.read()
        Build_DataFrame(content_file, file_Name)

In [7]:
def GetClassifier(file_Name):
    name_split =  file_Name.split(".")
    first_name = name_split[0];
    return first_name[(len(first_name) - 3) : len(first_name)]

In [8]:
def Build_DataFrame(content_file, file_Name):
    classifier =  GetClassifier(file_Name) 
    if(len(classifier) >= 3):        
        classifier_array.append(classifier)
        content_file_array.append(content_file)

In [12]:
for file_Name in tqdm(os.listdir(path), desc="Carregar arquivos"):    
    if file_Name.endswith(".txt"):
        file_path = f"{path}/{file_Name}"
      
        # call read text file function
        read_text(file_path, file_Name)

Carregar arquivos: 100%|█████████████████████████████████████████████████████████████| 69/69 [00:00<00:00, 2556.21it/s]

In [13]:
textDataDrame =  pd.DataFrame({"Text":content_file_array, "Class":classifier_array})

In [14]:
textDataDrame.head(10)

                                                Text Class
0  Versatilidade é com ela\n<b> No CD Nos Horizo...   at2
1  Vale até um empurrão do pai\n<b> Às vezes, mãe...   esp
2  Idosos pressionados pela família\n<b> Eles são...   fam
3  Ela só pensa em fazer maldades\n<b> Adriana Ga...   tvt
4  Prefeituras definem projetos para cidades\n<b>...   cid
5  PLANETA POP\n<b>  </b><br>\n <br>\nAngelina Jo...   at2
6  Na melhor idade do rock\n<b> Músicos que estão...   at2
7  Dez leitores faturam TVs de tela plana\n<b> Os...   cid
8  PLANETA POP\n<b>  </b><br>\n <br>\nLindsay Loh...   at2
9  PLANETA POP\n<b>  </b><br>\n <br>\n24 Horas ...   at2

# StopWords removing

In [15]:
#!conda install unidecode

import nltk
import unidecode
from bs4 import BeautifulSoup

# nltk.download()
#- averaged_perceptron_tagger
# - floresta
# - mac_morpho
# - machado
# - punkt
# - stopwords
# - wordnet
# - words

from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [16]:
def addStopWordsToList(texto):
    example_sent = texto
    word_tokens = word_tokenize(example_sent)

    filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]

    filtered_sentence = ""

    for w in word_tokens:
        if w not in stop_words:
            filtered_sentence += w + " "
    return filtered_sentence.strip()

In [17]:
stop_words = set(stopwords.words('portuguese'))
def returnDataFrameStopWords(dataFrame):
    dataReturn = pd.DataFrame()
    for row in tqdm(dataFrame.itertuples(index=True, name='Pandas'), desc="Limpeza de texto"):
        Text = row.Text
        Class = row.Class

        Text = BeautifulSoup(Text, "lxml").text
        Text = unidecode.unidecode(Text)
        Text = addStopWordsToList(Text)
        Text = Text.replace(" . "," ")
        Text = Text.replace(" , "," ")
        Text = Text.replace(" - "," ")
        Text = Text.replace(" : "," ")
        Text = Text.lower()

        linha = pd.Series([Text, Class])
        linha = pd.DataFrame([linha])
        dataReturn = pd.concat([linha, dataReturn], ignore_index=True)

    return dataReturn

In [19]:
df_text_clean = returnDataFrameStopWords(textDataDrame)

Limpeza de texto: 69it [00:00, 79.27it/s]

## Fatores de Ponderação

In [20]:
df_text_clean = df_text_clean.rename(columns = {0: 'Text', 1: 'Class'}, inplace = False)
df_text_clean.head()

                                                Text Class
0  perola negra tais araujo espera batalhadora ro...   tvt
1  cuidados pele negra a pele negra tendencia res...   fam
2  passagem vitoria cara hoje a partir hoje tarif...   cid
3  mauricio prates repasse recurso federal vai ga...   at2
4  paciente coracao novo hospital o primeiro paci...   cid

## Importando libs do scikit-learn

In [21]:
from sklearn.feature_extraction.text import TfidfTransformer # tf-idf
from sklearn.feature_extraction.text import CountVectorizer # tf

## Criando a lista de classes

In [22]:
 classes =  ["at2","sro","inf","imo","ept","esp","fam","tvt","cid","mul","pot","tav","mic","opi","poc","reg","eco","bro","cit","con","int"]

## TF

In [23]:
vectorizer = CountVectorizer()
TF = vectorizer.fit_transform(df_text_clean.Text)
features_names =  vectorizer.get_feature_names()

## TF-IDF

In [29]:
from sklearn.pipeline import Pipeline

In [30]:
pipe = Pipeline([('count', CountVectorizer(vocabulary=features_names)),
                 ('tfid', TfidfTransformer())]).fit(df_text_clean.Text)

# Lista de palavras

In [32]:
lista_palavras = []
for row in tqdm(df_text_clean.itertuples(index=True, name='Pandas')):
    palavras = row.Text.split(" ")
    for palavra in palavras:
        if(not len(palavra) <= 2):
            if(palavra not in lista_palavras):
                lista_palavras.append(palavra)

69it [00:01, 40.64it/s]

---

# frequencia palavra por classe

In [33]:
dic_doc_class = {}

for classe in tqdm(classes):
    lista_doc = []
    for row in df_text_clean.itertuples(index=True, name='Pandas'):  
        if (str(classe) == row.Class):
            lista_doc.append(row.Text)
    dic_doc_class[f'{classe}'] = lista_doc

100%|████████████████████████████████████████████████████████████████████████████████| 21/21 [00:00<00:00, 2998.99it/s]

In [34]:
from collections import Counter

In [35]:
df_relacao_class = pd.DataFrame()
df_relacao_class['Index'] = lista_palavras
for key in tqdm(dic_doc_class,"classes"):
    lista_docs =  dic_doc_class[key]
    docs = ""
    for doc in lista_docs:
        docs += f' {doc}'
        
    lista_quant =[]
    count = Counter(docs.split(" "))
    for termo in lista_palavras:
        quant = count[termo]
        lista_quant.append(quant)
        
    df_relacao_class[f'{key}'] = lista_quant
    
    
df_relacao_class = df_relacao_class.set_index('Index')

classes: 100%|█████████████████████████████████████████████████████████████████████████| 21/21 [00:00<00:00, 96.77it/s]

In [36]:
df_relacao_class.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
perola,0,0,0,0,0,0,1,2,0,0,...,0,0,0,0,0,0,0,0,0,0
negra,3,0,0,0,0,1,7,10,0,0,...,0,0,0,0,0,0,0,0,0,0
tais,0,0,0,0,0,1,0,8,0,0,...,0,0,0,0,0,0,0,0,0,0
araujo,0,0,0,0,0,0,0,4,1,0,...,0,0,0,0,0,0,0,0,0,0
espera,4,0,0,0,0,0,0,2,1,0,...,0,0,0,0,0,0,0,0,0,0

# ni - o numero  de documentos em que um determinado termo ki aparece

In [37]:
dic_ni = {}

for termo in tqdm(lista_palavras):
    quant = 0 
    for row in df_text_clean.itertuples(index=True, name='Pandas'):
        doc = row.Text
        if(termo in doc):
            quant += 1
    dic_ni[f'{termo}'] = quant

100%|████████████████████████████████████████████████████████████████████████████| 9472/9472 [00:04<00:00, 1920.52it/s]

# a - quantidade de documentos que pertence a uma classe e posuem o termo ki

#  c - o numero  de documentos que pertencem a Cp, mas não possuem o termo ki

In [38]:
df_a = pd.DataFrame()
df_a['Index'] = lista_palavras

df_c = pd.DataFrame()
df_c['Index'] = lista_palavras

for key in tqdm(dic_doc_class):
    lista_docs =  dic_doc_class[key]
    lista_quant_a =[]
    lista_quant_c =[]

    for termo in lista_palavras:
        quant_a = 0
        quant_c = 0
        
        for doc in lista_docs:
            if(termo in doc):
                quant_a += 1
            else:
                quant_c += 1
                
        lista_quant_a.append(quant_a)
        lista_quant_c.append(quant_c)
        
    df_a[f'{key}'] = lista_quant_a
    df_c[f'{key}'] = lista_quant_c
    
    
df_a = df_a.set_index('Index')
df_c = df_c.set_index('Index')

100%|██████████████████████████████████████████████████████████████████████████████████| 21/21 [00:02<00:00,  9.25it/s]

# df_a

In [39]:
df_a.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
perola,2,0,0,0,0,0,1,2,0,0,...,0,0,0,0,0,0,0,0,0,0
negra,2,0,0,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
tais,1,0,1,0,0,1,0,1,3,0,...,0,0,0,0,0,0,0,0,0,0
araujo,0,0,0,0,0,0,0,2,1,0,...,0,0,0,0,0,0,0,0,0,0
espera,10,0,0,0,0,2,3,2,8,0,...,0,0,0,0,0,0,0,0,0,0

# df_c

In [40]:
df_c.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
perola,28,0,3,0,0,4,4,4,19,1,...,0,1,0,0,0,0,0,0,0,0
negra,28,0,3,0,0,3,4,5,19,1,...,0,1,0,0,0,0,0,0,0,0
tais,29,0,2,0,0,3,5,5,16,1,...,0,1,0,0,0,0,0,0,0,0
araujo,30,0,3,0,0,4,5,4,18,1,...,0,1,0,0,0,0,0,0,0,0
espera,20,0,3,0,0,2,2,4,11,1,...,0,1,0,0,0,0,0,0,0,0

# b - a quantidade de documentos que possuem o termo ki, mas não pertence a Cp

# d o numero de documentos que não possuem ki e não pertencem a Cp.

In [41]:
df_b = pd.DataFrame()
df_b['Index'] = lista_palavras

df_d = pd.DataFrame()
df_d['Index'] = lista_palavras

for key in tqdm(dic_doc_class):
    lista_quant_b =[]
    lista_quant_d =[]
    
    for termo in lista_palavras:
        quant_b = 0
        quant_d = 0
        for classe in classes:
            if(classe != key):
                lista_docs =  dic_doc_class[classe]
                
                for doc in lista_docs:
                    if(termo in doc):
                        quant_b += 1
                    else:
                        quant_d += 1
                        
        lista_quant_b.append(quant_b)
        lista_quant_d.append(quant_d)
        
    df_b[f'{key}'] = lista_quant_b
    df_d[f'{key}'] = lista_quant_d
    
df_b = df_b.set_index('Index')
df_d = df_d.set_index('Index')

100%|██████████████████████████████████████████████████████████████████████████████████| 21/21 [00:42<00:00,  2.02s/it]

# df_b

In [44]:
df_b.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
perola,3,5,5,5,5,5,4,3,5,5,...,5,5,5,5,5,5,5,5,5,5
negra,3,5,5,5,5,4,4,4,5,5,...,5,5,5,5,5,5,5,5,5,5
tais,6,7,6,7,7,6,7,6,4,7,...,7,7,7,7,7,7,7,7,7,7
araujo,3,3,3,3,3,3,3,1,2,3,...,3,3,3,3,3,3,3,3,3,3
espera,15,25,25,25,25,23,22,23,17,25,...,25,25,25,25,25,25,25,25,25,25

# df_d

In [45]:
df_d.head()

,at2,sro,inf,imo,ept,esp,fam,tvt,cid,mul,...,tav,mic,opi,poc,reg,eco,bro,cit,con,int
Index,,,,,,,,,,,,,,,,,,,,,
perola,36,64,61,64,64,60,60,60,45,63,...,64,63,64,64,64,64,64,64,64,64
negra,36,64,61,64,64,61,60,59,45,63,...,64,63,64,64,64,64,64,64,64,64
tais,33,62,60,62,62,59,57,57,46,61,...,62,61,62,62,62,62,62,62,62,62
araujo,36,66,63,66,66,62,61,62,48,65,...,66,65,66,66,66,66,66,66,66,66
espera,24,44,41,44,44,42,42,40,33,43,...,44,43,44,44,44,44,44,44,44,44

---

## Conta quantas classes o termo ki aparece

In [47]:
def get_row_class(row, classe):
    dic_classe = {
        'at2':row.at2,
        'sro':row.sro,
        'inf':row.inf,
        'imo':row.imo,
        'ept':row.ept,
        'esp':row.esp,
        'fam':row.fam,
        'tvt':row.tvt,
        'cid':row.cid,
        'mul':row.mul,
        'pot':row.pot,
        'tav':row.tav,
        'mic':row.mic,
        'opi':row.opi,
        'poc':row.poc,
        'reg':row.reg,
        'eco':row.eco,
        'bro':row.bro,
        'cit':row.cit,
        'con':row.con,
        'int':row.int
    }
    return dic_classe[f'{classe}']

In [48]:
def num_ki_em_categoria():

    dic_num_ki_em_categoria ={}
    for row in tqdm(df_relacao_class.itertuples(index=True, name='Pandas')):
        ci = 0
        for classe in classes:
            if get_row_class(row,classe)!= 0:
                ci += 1
        dic_num_ki_em_categoria[f'{row.Index}'] = ci
        
    return dic_num_ki_em_categoria

# Bag of Word

In [49]:
bag_of_word = {}
bag_of_word['a'] = df_a
bag_of_word['b'] = df_b
bag_of_word['c'] = df_c
bag_of_word['d'] = df_d
bag_of_word['freq_pal_class'] = df_relacao_class
bag_of_word['ci'] = num_ki_em_categoria()
bag_of_word['ni'] = dic_ni

9472it [00:00, 30358.97it/s]

## ICF

In [50]:
import math

In [51]:
def calculeteICF():
    dic_num_ki_em_categoria = bag_of_word['ci']
    icfs = {}
    C = len(classes)
    for key in dic_num_ki_em_categoria:
        Ci = dic_num_ki_em_categoria[key]
        valor = math.log((1 + (C/Ci)))
        icfs[f'{key}'] = valor
    return icfs

In [53]:
icfs = calculeteICF()

In [54]:
df_icf = pd.DataFrame()
df_icf['Index'] = df_text_clean.index

for termo in tqdm(lista_palavras):
    
    list_icfs = []
    
    for row in df_text_clean.itertuples(index=True, name='Pandas'):
        doc = row.Text
        if termo in doc:
            list_icfs.append(icfs[termo])
        else:
            list_icfs.append(0)
    
    df_icf[f'{termo}'] = list_icfs
    
df_icf = df_icf.set_index('Index')

100%|█████████████████████████████████████████████████████████████████████████████| 9472/9472 [00:15<00:00, 600.40it/s]

In [55]:
df_icf.head()

,perola,negra,tais,araujo,espera,batalhadora,romantica,preta,sirva,exemplo,...,influenciada,ultramem,red,chili,unir,vertentes,alternativas,sony/,bmg,"49,90"
Index,,,,,,,,,,,,,,,,,,,,,
0,2.442347,1.832581,2.442347,2.442347,2.079442,3.091042,2.442347,3.091042,3.091042,1.504077,...,0.0,0.0,3.091042,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,1.832581,0.000000,0.000000,2.079442,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,3.091042,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.000000,0.000000,0.000000,2.079442,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,3.091042,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2.442347,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,3.091042,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.000000,0.000000,0.000000,2.079442,0.000000,0.000000,0.000000,0.000000,1.504077,...,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0

---

## Calculando IDF

In [56]:
idfDict = {}
N = len(df_text_clean)

for termo, value in tqdm(bag_of_word['ni'].items()):
    idfDict[termo] = math.log10(N / (float(value)))

100%|██████████████████████████████████████████████████████████████████████████| 9472/9472 [00:00<00:00, 859179.23it/s]

# Calculo qui, rf, icf based, rf*idf

In [57]:
df_qui_quadrado = pd.DataFrame()
df_qui_quadrado['Index'] = lista_palavras

df_rf = pd.DataFrame()
df_rf['Index'] = lista_palavras

df_icf_based = pd.DataFrame()
df_icf_based['Index'] = lista_palavras

C = len(classes)
dic_num_ki_em_categoria = bag_of_word['ci']

df_rfIdf = pd.DataFrame()
df_rfIdf['Index'] = df_rf.index
    

for classe in tqdm(classes):
    
    lista_valores_qui = []
    lista_valores_rf = []
    lista_valores_icf_based = []
    lista_valores_rfidf = []
    
    for termo in lista_palavras:
        a = bag_of_word['a'].loc[termo, classe]
        b = bag_of_word['b'].loc[termo, classe]
        c = bag_of_word['c'].loc[termo, classe]
        d = bag_of_word['d'].loc[termo, classe]
        
        # qui
        numerador = (len(df_text_clean) * math.pow(((a * d) - (c * d)), 2))
        denominador = ((a + c) * (b + d) * (a + b) * (c + d))

        if (numerador == 0):
            value_qui = 0
        else:
            value_qui = numerador/denominador
            
        # RF
        value_rf =  math.log(2 + (a / (max(1,b))))
        
        #ICF-based
        Ci = dic_num_ki_em_categoria[termo]
        valor_icf_based = math.log((2 + (a/max(1,b)) * (C/Ci)))
        
        #RF*IDF
        valueIdf =  idfDict[termo]
        value_rfidf =  value_rf * valueIdf
        
        #adicionando a listas
        lista_valores_qui.append(value_qui)
        lista_valores_rf.append(value_rf)
        lista_valores_icf_based.append(valor_icf_based)
        lista_valores_rfidf.append(value_rfidf)

    df_qui_quadrado[f'{classe}'] = lista_valores_qui
    df_rf[f'{classe}'] = lista_valores_rf
    df_icf_based[f'{classe}'] = lista_valores_icf_based
    df_rfIdf[f'{classe}'] = lista_valores_rfidf

df_qui_quadrado = df_qui_quadrado.set_index('Index')
df_rf = df_rf.set_index('Index')
df_icf_based = df_icf_based.set_index('Index')
df_rfIdf = df_rfIdf.set_index('Index')

100%|██████████████████████████████████████████████████████████████████████████████████| 21/21 [00:08<00:00,  2.39it/s]

## Construção dataframe documentos x termos

In [125]:
df_doc_rf= pd.DataFrame()
df_doc_rf['Index'] = df_text_clean.index

df_doc_qui= pd.DataFrame()
df_doc_qui['Index'] = df_text_clean.index

df_doc_icf_based= pd.DataFrame()
df_doc_icf_based['Index'] = df_text_clean.index

df_doc_rfIdf= pd.DataFrame()
df_doc_rfIdf['Index'] = df_text_clean.index

for termo in tqdm(lista_palavras):
    
    list_rf = []
    list_qui = []
    list_icf_based = []
    list_rfIdf = []
    
    
    for row in df_text_clean.itertuples(index=True, name='Pandas'):
        doc = row.Text
        classe = row.Class
        
        if termo in doc:
            value_rf = df_rf.loc[termo,classe]
            value_qui = qui_quadrado.loc[termo,classe]
            value_icf_based = icf_based.loc[termo,classe]
            value_rfIdf = df_rfIdf.loc[termo,classe]
            
            list_rf.append(value_rf)
            list_qui.append(value_qui)
            list_icf_based.append(value_icf_based)
            list_rfIdf.append(value_rfIdf)
        else:
            list_rf.append(0)
            list_qui.append(0)
            list_icf_based.append(0)
            list_rfIdf.append(0)
    
    df_doc_rf[f'{termo}'] = list_rf
    df_doc_qui[f'{termo}'] = list_qui
    df_doc_icf_based[f'{termo}'] = list_icf_based
    df_doc_rfIdf[f'{termo}'] = list_rfIdf
    
    
df_doc_rf = df_doc_rf.set_index('Index')
df_doc_qui= df_doc_qui.set_index('Index')
df_doc_icf_based = df_doc_icf_based.set_index('Index')
df_doc_rfIdf = df_doc_rfIdf.set_index('Index')

100%|█████████████████████████████████████████████████████████████████████████████| 9561/9561 [00:33<00:00, 285.00it/s]

---

## Machine Learning

### KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score, roc_curve,classification_report,r2_score
from sklearn import model_selection as ms
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

In [ ]:
le = LabelEncoder()

In [ ]:
def toNumeric(nome_coluna, coluna):
    df_text_clean[nome_coluna] = le.fit_transform (coluna)

In [ ]:
toNumeric('numeric_class',df_text_clean.Class)

In [ ]:
# features
X = TF

In [ ]:
#response
Y = df_text_clean['numeric_class'].copy()

In [ ]:
x_train, x_test, y_train, y_test = ms.train_test_split(X,Y,test_size=0.33, random_state=5)

In [ ]:
model_knn = KNeighborsClassifier(n_neighbors=1)

In [ ]:
model_knn.fit(x_train, y_train)

In [ ]:
pred = model_knn.predict_proba(x_test)

In [ ]:
plot_roc_curve(np.array(y_test), pred[:,1])

# Imports do EDA

In [ ]:
# print da curva ROC
def plot_roc_curve(y_true, y_score, figsize=(10,6)):
    fpr, tpr, _ = roc_curve(y_true, y_score, pos_label=2)
    plt.figure(figsize=figsize)
    auc_value = roc_auc_score(y_true, y_score)
    plt.plot(fpr, tpr, color='orange', label='ROC curve (area = %0.2f)' % auc_value)
    plt.plot([0, 1], [0, 1], color='darkblue', linestyle='--')
    plt.xlabel('Taxa de falso positivo')
    plt.ylabel('Taxa de verdadeiro positivo')
    plt.title('Curva ROC')
    plt.legend()
    lt.show()

In [ ]:
#precision    recall  f1-score   support
print(classification_report(y_test, pred, labels=[1, 2, 3]))

In [ ]:
# AUC
print('AUC: %0.2f' % roc_auc_score(y_test, pred))

## Número de amostras de cade classe

In [ ]:
import seaborn as sns

In [ ]:
sns.set(rc={'figure.figsize':(11.7,8.27)})
sns.countplot(x = 'Class',data = textDataDrame)